﻿@{
    ViewBag.Title = "SuccessMessage";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .scope_new h2 {
        color: #B28B34 !important;
    }
</style>
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper">
                    <div class="main-wrapper">
                        <div class="x_panel">
                            <div class="x_panel_center iis-assign-wrapper">
                                <div class="assign-tag">
                                    @if (ViewBag.Type == "success")
                                    {
                                        <i class="fas fa-check-circle"></i>
                                        <div class="success-value">
                                        </div>
                                        <div class="divi"></div>
                                        <div class="success-msg">
                                            @ViewBag.Message
                                        </div>
                                    }
                                    else
                                    {
                                        <i class="ferror fa-exclamation-circle"></i>
                                        <div class="success-value">
                                        </div>
                                        <div class="diverror"></div>
                                        <div class="error-msg">
                                            @ViewBag.Message
                                        </div>
                                    }
                                </div>

                            </div>
                            <div class="row">
                                <div class="col-sm-10"></div>
                                @*<div class="col-sm-2">
                                        <button onclick="self.close()">Close</button>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

