﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UAE-AIMS </title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico" />
    <!-- Bootstrap -->
    @Styles.Render("~/Content/custom")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Abel|Exo|Nunito+Sans|Open+Sans|PT+Sans+Caption|Roboto|Titillium+Web" rel="stylesheet">

</head>
<body>
    <div class="login">

        <!--  <div class="overlay"></div> -->
        <div class="login_wrapper">
            <div class="logo-title">
                <h1>Accident Investigation Management System</h1>
            </div>
            <div class="innerlog">
                <div class="login_form-front">
                    <div class="loginmodal-container">
                        @RenderBody()
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>