﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>UAE-AIMS</title>
    <link rel="shortcut icon" type="image/png" href="/img/favicon.ico" />
    @Styles.Render("~/Content/custom")
    @*@Scripts.Render("~/bundles/modernizr")
        @Scripts.Render("~/bundles/jquery")*@
    @*@Scripts.Render("~/bundles/bootstrap")*@
    @*<script src="~/js/sb-admin.js"></script>*@
    @RenderSection("scripts", required: false)
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Heebo:100,300,400,500,700,800,900|Montserrat:100,200,300,400,500,600,700,800,900|Roboto:100,300,400,500,700,900" rel="stylesheet">
    <!-- Bootstrap core CSS-->
    <style type="text/css">
        .cur {
            cursor: pointer;
        }
    </style>
</head>
@*@if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Index");
    }*@
<body class="fixed-nav user-dark" id="page-top">
    <div id="wrapper">
        <div class="usercontainer">
            <div class="usertopper">


                <div class="usertop-logo">

                    <a class="navbar-brand" href="/Home/Dashboard">
                        <img class="big-logo" src="~/img/gcaa-logo-2017.png">

                    </a>

                </div>
                <div class="scope_new">
                    <h2>Accident Investigation Management System</h2>
                </div>
                <div class="usertop-birdlogo">

                    <a class="navbar-brand" href="/Home/Dashboard">
                        <img class="big-logo" src="~/img/1-logo.png">
                    </a>
                </div>


            </div>
            @*menu-left*@
            <div class="alert alert-danger" role="alert"> </div>
            <div class="alert alert-info" role="alert"></div>
            <div class="alert alert-success" role="alert"></div>

            @RenderBody()
        </div>
            <div id="incharge-popup" class="modal fade incharge-popup" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
                <div class="modal-dialog" style="width:50%">

                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title">Close Investigation</h4>
                            <br />
                            <div class="col-md-4"></div>
                            <div class="col-md-4"><label>AIFN/0014/2017</label></div>
                            <div class="col-md-4"></div>
                            <div class="col-md-12">
                                <div class="col-md-3">
                                    <h6>Closure Reason</h6>
                                </div>
                            </div>
                        </div>

                        <div class="modal-body">
                            <div class="incharge-wrapp">
                                <div class="row">

                                    <div class="col-md-12">
                                        <div class="certi-details">
                                            <ul>
                                                <p>
                                                    The en-route flight was uneventful till landing at Hyderabad on runway 27.
                                                    After landing at Hyderabad and when the aircraft left the active runway, CCIC
                                                    noticed smoke in the cabin which was white in color associated with a smell
                                                    originating from the mid cabin. As per CCIC the smell was like that of electrical
                                                    wires. The cabin crew made a PA announcement for the passengers to cover
                                                    their nose and mouth with a piece of cloth and breathe normally. The situation
                                                    was then immediately brought to the knowledge of the flight crew who also
                                                    informed that there was smoke in the cockpit as well. Cockpit crew got an
                                                    electrical smoke warning in the cockpit. An AME who was travelling as ACM was
                                                    called by the captain in the cockpit. The aircraft was stopped on the taxiway and
                                                    captain instructed cabin crew to be at their stations.
                                                </p>
                                            </ul>
                                        </div>
                                    </div>

                                </div>


                            </div>
                        </div>
                        <div class="modal-footer">

                            <button type="submit" class="btn btn-save" data-dismiss="modal">Save and Notify DAAI</button>
                        </div>
                    </div>

                </div>
            </div>


            <script src="~/Scripts/jquery.min.js"></script>
            <script src="~/Scripts/bootstrap.min.js"></script>
            <script src="~/js/Anonymous.js?version=1.2"></script>
        </div>

    <script type="text/javascript">
        $(document).ready(function () {

            $("#btnGenerateForm").click(function () {
                var inputJson = $("#jsoninput").val();
                $.ajax({
                    type: "POST",
                    data: inputJson,
                    contentType: 'application/json; charset=utf-8',
                    url: "/Dynamic/GenerateForm", success: function (result){
                        console.log(result);
                        $("#formName").html(result.nform_title);
                        $("#DynamicForm").attr('name', result.nform_name);
                        $("#DynamicForm").attr('action', result.action_name);
                        $("#DynamicForm").html(result.fields);
                    }
                });
            });
        });


    </script>
</body>


</html>



