@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.AdminModel
@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? usr_page = (ViewBag.page_no);
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">

            <div class="main-user-wrapper">
                <div class="main-wrapper current-project-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_content ">
                                    <div class="table-tittle col-md-6">
                                        <h2>Users</h2>
                                    </div>


                                    <div class="search-field col-md-6 admin">
                                        <div class="occ-new" style="float:right;margin-right: 17px;">
                                            @if (Session["username"] != null)
                                            {
                                                if (Session["roleid"].ToString() == "1")
                                                {
                                                    <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("AddUser_Admin", "Admin", new { id=0 })'">
                                                        <i class="fas fa-plus"></i>Add New
                                                    </button>
                                                }
                                            }
                                        </div>
                                    </div>


                                    <div class="table-responsive col-md-12">
                                        <table id="datatable" class="table table-bordered table-hover table-responsive">
                                            <!-- need pagination table -->
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>Role</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            @*<tbody>
                                                    @{int i = 0;}
                                                    @foreach (var item in Model)
                                                    {
                                                        i += 1;
                                                        <tr>
                                                            <td>
                                                                @i
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.first_name) @Html.DisplayFor(modelItem => item.last_name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.user_id)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.role_name)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.email)
                                                            </td>
                                                            <td>
                                                                @Html.DisplayFor(modelItem => item.phone)
                                                            </td>
                                                            <td>
                                                                @if (item.is_active.ToString() == "True")
                                                                {
                                                                    <span>Active</span>
                                                                }
                                                                else
                                                                {
                                                                    <span>In-Active</span>
                                                                }
                                                            </td>
                                                            <td>
                                                                <div class="pro-view">
                                                                    <span class="edit-e"><a href="@Url.Action("AddUser", "User", new { id=item.user_id })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                                                    <span class="delete-d"><a href="@Url.Action("Delete", "User", new { id=item.user_id })"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                                </div>
                                                            </td>

                                                        </tr>
                                                    }


                                                </tbody>*@
                                            <tbody>
                                                @if (Model != null)
                                                {
                                                    if (Model.All_Users != null)
                                                    {
                                                        if (Model.All_Users.Count() > 0)
                                                        {
                                                            int i = ViewBag.serial_nbr;
                                                            var UsersPage = Model.All_Users.ToList().ToPagedList(usr_page ?? 1, 10);
                                                            foreach (var user in UsersPage)
                                                            {
                                                                string IsActive = (Convert.ToString(user.Status) == "1") ? "Active" : "Inactive";
                                                                i += 1;
                                                                <tr>
                                                                    <td>@i</td>
                                                                    <td>
                                                                        @Html.DisplayFor(ModelItem => user.FirstName)
                                                                        @Html.DisplayFor(ModelItem => user.MiddleName)
                                                                        @Html.DisplayFor(ModelItem => user.LastName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(ModelItem => user.LKUserRoleName)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(ModelItem => user.EmailAddress)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(ModelItem => user.ContactNo)
                                                                    </td>
                                                                    <td>
                                                                        @Html.DisplayFor(ModelItem => IsActive)
                                                                    </td>
                                                                    <td>
                                                                        <span class="edit-e"><a onclick="location.href='@Url.Action("AddUser_Admin", "admin",new { id=user.UserID })'"><i class="fa fa-pencil-square-o" aria-hidden="true">

                                                      
                                                        </i></a></span>
                                                                       
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    }
                                                }


                                            </tbody>

                                        </table>
                                        @if (ViewBag.count_pagecontent > 10)
                                        {
                                            @Html.PagedListPager(Model.All_Users.ToList().ToPagedList(usr_page ?? 1, 10), page => Url.Action("AdminDashboard", new { page }))
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>