﻿
@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model ISM_Project.Models.AdminModel
@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Index");
    }

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                @*<div class="top-breadcrumb">
                    @*<div class="top-breadcrumb">
                            <ol class="breadcrumb">
                                <li class="cur" onclick="window.history.back();">Users</li>
                                <li class="active">Create New User</li>
                            </ol>
                        </div>*@
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>@ViewBag.title</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content create-user-table">
                                    @using (Html.BeginForm(null, null, FormMethod.Post, new { id = "Admin_form" }))
                                    {
                                        if (Model.user_id == 0 || Model.user_id == null)
                                        {
                                            <input type="hidden" id="NoOfcerticate" value="0" />
                                            <input type="hidden" id="NoOfskill" value="0" />
                                        }
                                        else
                                        {
                                            if (@ViewBag.CertificateinfoCount == 0)
                                            {
                                                <input type="hidden" id="NoOfcerticate" value="0" />

                                            }
                                            else
                                            {
                                                <input type="hidden" id="NoOfcerticate" value="@ViewBag.CertificateinfoCount" />
                                            }
                                            if (@ViewBag.skillinfoCount == 0)
                                            {
                                                <input type="hidden" id="NoOfskill" value="0" />

                                            }
                                            else
                                            {

                                                <input type="hidden" id="NoOfskill" value="@ViewBag.skillinfoCount " />
                                            }
                                        }


                                        @Html.HiddenFor(m => m.user_id, new { @type = "text", @class = "form-control hidden" })
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">First Name<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.first_name, null, new { @placeholder = "Enter First Name", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Middle Name <span class="text-danger"></span></label>
                                            @Html.TextBoxFor(m => m.middle_name, null, new { @placeholder = "Enter Middle Name", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Last Name <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.last_name, null, new { @placeholder = "Enter Last Name", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Staff ID <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.Staff_id, null, new { @placeholder = "Enter Staff ID", required = "required", @type = "text", @class = "form-control" })

                                        </div>
                                        @*<div class="form-group">
                                            <label for="exampleInputEmail1">Date Of Birth <span class="text-danger">*</span></label>
                                            <div class='input-group date_only_dob' id='dtUTCOcc'>
                                                <input type="text" id="dob" class="form-control" name="dob" value="@ViewBag.birth_date" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>*@
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Email address <span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.email, null, new { @placeholder = "Enter Email", required = "required", @type = "email", @class = "form-control" })

                                        </div>


                                        <div class="form-group">
                                            <label for="exampleInputPassword1">Contact Number<span class="text-danger">*</span></label>
                                            @Html.TextBoxFor(m => m.phone, null, new { @placeholder = "Enter Contact Number", required = "required", onkeydown = "return ValidateNumber(event);", @type = "number", @class = "form-control" })
                                        </div>
                                        <div class="form-group">
                                            <div class="row">
                                                @if (Model.user_id == 0)
                                                {
                                                    <div class="col-md-4">
                                                        <label for="exampleFormControlSelect1">Role<span class="text-danger">*</span></label>

                                                        @Html.DropDownListFor(m => m.roleid, ViewBag.userrolename as SelectList, "Select", new { @class = "form-control", required = "required" })

                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4">
                                                        <label for="exampleFormControlSelect1">Role<span class="text-danger">*</span></label>

                                                        @*  @Html.DropDownListFor(m => m.roleid, ViewBag.userrolename as SelectList, "Select", new { @class = "form-control", required = "required", @disabled = "disabled" })*@

                                                        @Html.TextBoxFor(m => m.roleName, new { @class = "form-control", required = "required", @value = ViewBag.userrolename, @disabled = "disabled" })

                                                        @Html.HiddenFor(m => m.roleid)
                                                    </div>
                                                }
                                                <div class="col-md-4">
                                                    <label for="exampleFormControlSelect1">Status<span class="text-danger">*</span></label>

                                                    @Html.DropDownListFor(m => m.is_active, new List<SelectListItem> { new SelectListItem { Text = "Active", Value = "1" }, new SelectListItem { Text = "In-Active", Value = "0" } }, new { @class = "form-control" })
                                                </div>
                                                @if (Model.user_id == 0)
                                                {
                                                    <div class="col-md-4">
                                                        <label for="exampleFormControlSelect1">Designation<span class="text-danger">*</span><a class="user_Desig" id="addDesignation_@Model.DesingationID" data-toggle="modal"> Add/Edit</a></label>
                                                        @Html.DropDownListFor(m => m.DesingationID, ViewBag.UserDesigList as SelectList, "Select", new { @class = "form-control", required = "required" })
                                                    </div>
                                                }
                                                else
                                                {
                                                    <div class="col-md-4">
                                                        <label for="exampleFormControlSelect1">Designation<span class="text-danger">*</span><a class="user_Desig" id="addDesignation_@Model.DesingationID" data-toggle="modal"> Add/Edit</a></label>

                                                        @*  @Html.DropDownListFor(m => m.roleid, ViewBag.userrolename as SelectList, "Select", new { @class = "form-control", required = "required", @disabled = "disabled" })*@

                                                        @Html.DropDownListFor(m => m.DesingationID, ViewBag.UserDesigList as SelectList, "Select", new { @class = "form-control", @value = ViewBag.DesingationID, required = "required", })

                                                        @*@Html.HiddenFor(m => m.DesingationID)*@
                                                    </div>
                                                }
                                            </div>
                                        </div>

                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Act as DAAI  </label>
                                            @if (Model.ActAsDirector == true)
                                            {
                                                @Html.CheckBoxFor(a => a.ActAsDirector, new { @checked = true })
                                            }
                                            else
                                            {
                                                @Html.CheckBoxFor(a => a.ActAsDirector)

                                            }
                                            <small id="emailHelp" class="form-text text-muted"></small>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong>Certifications</strong>
                                                </div>

                                            </div>
                                        </div>

                                        if (Model.user_id > 0)
                                        {
                                            if (ViewBag.CertificateinfoCount > 0)
                                            {
                                                int i = 0;

                                                foreach (ISM_Project.Models.USP_VIEW_CERTIFICATION_ADMIN_Result certinfo in ViewBag.Certificateinfo)
                                                {
                                                    i++;
                                                    Common commn = new Common();


                                                    <div class="add-certificate-details" id="Certificate_details_id_@i">

                                                        <div class="form-group">

                                                            <div class="row">

                                                                <div class="col-md-3">

                                                                    <label>Certification Name</label>
                                                                    @*<input class="form-control" id="Certificates_' + cert_count + '" name="CertificateName[]" placeholder="Enter Certificate Name" required="required" type="text" value="">'*@
                                                                    @Html.TextBox("CertificateName[]", certinfo.CertificationName, new { id = "Certificates_" + i, @class = "form-control" })
                                                                </div>
                                                                <div class="col-md-3">

                                                                    <label>Certified Date</label>
                                                                    <div class="input-group date_only_dob" id="dtUTCOcc">
                                                                        @*<input type="text" id="certifieddate_' + cert_count + '" class="form-control certidate" name="certifieddate[]" value="" />*@
                                                                        @*@Html.TextBox("certifieddate[]", s, new { id = "certifieddate_" + i, @class = "form-control" })*@
                                                                        <input type="text" id="certifieddate_@i" class="form-control certidate" name="certifieddate[]" value="@commn.convertDateTime(Convert.ToDateTime(certinfo.CertifiedDate))" />
                                                                        <span class="input-group-addon">
                                                                            <span class="glyphicon glyphicon-calendar"></span>

                                                                        </span>

                                                                    </div>

                                                                </div>
                                                                <div class="col-md-3">

                                                                    <label>Date of Renewal</label>
                                                                    <div class="input-group notime" id="dtUTCOcc">

                                                                        @*<input type="text" id="reneweddate_' + cert_count + '" class="form-control renewdate" name="reneweddate[]" value="" />*@
                                                                        @*@Html.TextBox("reneweddate[]",s, new { id = "reneweddate_" + i, @class = "form-control" })*@
                                                                        <input type="text" id="reneweddate_@i" class="form-control renewdate" name="reneweddate[]" value="@commn.convertDateTime(Convert.ToDateTime(certinfo.CertificationExpiryDate))" />

                                                                        <span class="input-group-addon">

                                                                            <span class="glyphicon glyphicon-calendar"></span>

                                                                        </span>

                                                                    </div>

                                                                </div>
                                                                <div class="col-md-2">

                                                                    <label>validity period</label>
                                                                    <input class="form-control" data-val="true" data-val-number="The field ValidityDays must be a number." data-val-required="The ValidityDays field is required." id="validityperiod_@i" name="validityperiod[]" required="required" type="text" value="@certinfo.ValidityDays" readonly="">

                                                                </div>
                                                                <div class="col-md-1">

                                                                    <label></label>
                                                                    <button style="margin-top:33px;" type="button" class="btn btn-danger btn-number remove_certicate" id="rmcertificate_@i" data-type="minus">

                                                                        <span class="glyphicon glyphicon-minus">


                                                                        </span>

                                                                    </button>

                                                                </div>

                                                            </div>

                                                        </div>

                                                    </div>

                                                }

                                            }
                                            <div id="Dynamiccertificate">
                                            </div>
                                        }

                                        else
                                        {
                                            <div id="Dynamiccertificate">
                                            </div>
                                        }

                                        <div class="form-group">
                                            <label class="btn btn-addnew" id="add_certificate" for="exampleInputPassword1">Add Certification <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                        </div>

                                        <div class="form-group">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <strong>Skill Set</strong>
                                                </div>

                                            </div>
                                        </div>
                                        if (Model.user_id > 0)
                                        {
                                            if (ViewBag.skillinfoCount > 0)
                                            {
                                                int j = 0;
                                                foreach (ISM_Project.Models.USP_VIEW_SKILL_ADMIN_Result skillinfo in ViewBag.skillinfo)
                                                {
                                                    <div class="add-skill-details" id="skill_details_id_@j">
                                                        <div class="form-group">
                                                            <div class="row">
                                                                <div class="col-md-3">
                                                                    <label>Skill Name</label>
                                                                    <select name="Skillname[]" class="form-control" id="Skillname_@j">

                                                                        <option value="">Select</option>
                                                                        @foreach (SelectListItem skl in ViewBag.skills)
                                                                        {
                                                                            if (Convert.ToInt32(skl.Value) == skillinfo.LKSkillTypeID)
                                                                            {
                                                                                <option value="@(skl.Value)" selected="selected">@skl.Text</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@(skl.Value)">@skl.Text</option>
                                                                            }
                                                                        }
                                                                    </select>
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label>Experience (Years)</label>
                                                                    @*<input type="text" type="number" id="Experiance_@j" name="Experiance[]" class="form-control">*@
                                                                    @Html.TextBox("Experiance[]", skillinfo.ExperienceInYears, new { id = "Experiance_" + j, @class = "form-control", @min = "0", @onkeydown = "return ValidateNumber(event)", @maxlength = "2", @type = "text" })
                                                                </div>
                                                                <div class="col-md-3">
                                                                    <label>Rating</label>
                                                                    <select name="Rating[]" class="form-control" id="Rating_@j">
                                                                        <option value="">Select</option>
                                                                        @foreach (SelectListItem item in ViewBag.Ratings)
                                                                        {
                                                                            if (Convert.ToInt32(item.Value) == skillinfo.UserSkillRating)
                                                                            {
                                                                                <option value="@(item.Value)" selected="selected">@item.Text</option>
                                                                            }
                                                                            else
                                                                            {
                                                                                <option value="@(item.Value)">@item.Text</option>
                                                                            }
                                                                        }

                                                                    </select>


                                                                </div>

                                                                <div class="col-md-1">
                                                                    <button type="button" style="margin-top:33px;" class="btn btn-danger btn-number remove_skill" id="rmskill_@j" data-type="minus">
                                                                        <span class="glyphicon glyphicon-minus">
                                                                        </span>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>

                                                }

                                            }
                                            <div id="DynamicSkillArea">
                                            </div>
                                        }
                                        else
                                        {
                                            <div id="DynamicSkillArea">
                                            </div>
                                        }
                                        <div class="form-group">
                                            <label class="btn btn-addnew" id="AddSkillTextBox" for="exampleInputPassword1">Add Skill <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                        </div>
                                        <div class="create-bottom-btn">
                                            <button type="submit" id="add_user" class="btn btn-save">Save</button>
                                            <button type="button" class="btn btn-cancel" onclick="location.href='@Url.Action("AdminDashboard","Dashboard")'">Cancel</button>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalDepartments" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Department</h4>
            </div>
            <div class="form-group" style="margin-top:15px">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5">
                        <span style="line-height:34px">Name</span>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalRoles" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Add Role</h4>
            </div>
            <div class="form-group" style="margin-top:15px">
                <div class="row">
                    <div class="col-md-1">

                    </div>
                    <div class="col-md-5">
                        <span style="line-height:34px">Name</span>
                    </div>
                    <div class="col-md-5">
                        <input class="form-control" />
                    </div>
                    <div class="col-md-1">

                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" data-dismiss="modal">Save</button>
            </div>
        </div>
    </div>
</div>

<div id="Add_UserDesignation" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:55%">

        <!-- Modal content-->
        <div class="modal-content" id="User_Designation">

            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>




