﻿@model ISM_Project.Models.InvDistributionList
@{
    ViewBag.Title = "CreateGlobal_DistributionList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Manage Global Email Distribution List</h2>
                                        </div>                                        
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content create-user-table">
                                        <div class="info-tittle">
                                            <h2>Distribution List Details:</h2>
                                        </div>
                                        @using (Html.BeginForm("CreateGlobal_DistributionList", "Admin", FormMethod.Post, new { id = "frm_Globaldistributionlist" }))
                                        {
                                            @Html.HiddenFor(m => m.InvestigationFileID, new { @type = "text", @class = "form-control hidden" })
                                            @Html.HiddenFor(m => m.EmailDistributionListID, new { @type = "text", @class = "form-control hidden" })
                                            <form>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label"> Distribution List Name  <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8 col-form-box">

                                                        @Html.TextBoxFor(m => m.EmailDistributionListName, new { @type = "text", @class = "form-control notifier_name" })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label">Description </label>
                                                    <div class="col-sm-8 col-form-box">

                                                        @Html.TextAreaFor(m => m.EmailDistributionListDescription, new
                                                        {
                                                            @type = "text",
                                                            @class = "form-control",

                                                            @style = "height: 178px;"
                                                        })
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label">Recipients  <span class="text-danger">*</span></label>
                                                    <div class="col-sm-8 col-form-box">
                                                        @if (ViewBag.User_Info == null)
                                                        {
                                                            @Html.TextBox("Recipients_Info", "", "", new { @placeholder = "Email Addresses", @class = "form-control", @type = "text", @width = "100", @data_role = "tagsinput" })
                                                        }
                                                        else
                                                        {
                                                            @Html.DropDownList("Recipients_Info", (SelectList)ViewBag.User_Info, "None", new { multiple = "multiple", data_role = "tagsinput", @class = "form-control" })
                                                        }
                                                    </div>
                                                </div>                                                
                                                    <div class="inver-btns" style='text-align:right'>
                                                        <button type="button" class="btn btn-notify" onclick="SaveGlobalDistributionList()">Save And Update</button>
                                                    </div>                                                
                                            </form>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />