﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.InventoryModel
@{
    ViewBag.Title = "ViewAllInventory";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? Inv_cur_page = (ViewBag.Inv_page_no);

}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    @using (Html.BeginForm("ViewAllInventories", "Admin", FormMethod.Post, new { id = "InventoryForm" }))
                    {
                        <div class="main-wrapper">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="clearfix"></div>
                                <div class="row">
                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="info-tittle">
                                                <h2>All Inventories</h2> @*Safety Recommendations List*@
                                            </div>
                                            <div class="task-scope-wrapp saftey-tape">
                                                <div class="div_allInventoryHistory">
                                                    <a class="view-inventory-history" id="btnViewQuanHistory" href="@Url.Action("ViewInventoryQuantityHistory", "Admin", new { id = 0 })">Quantity History</a>
                                                    <a class="view-inventory-history" id="btnViewQuanUsage" href="@Url.Action("ViewInventoryUsage", "Admin", new { id = 0 })">Item Usage</a>
                                                    <button type="submit" class="btn btn-save" id="btnExcelExport" value="Export" name="btnname" onclick="">Export</button>
                                                </div>
                                                <div class="search-field">
                                                    <div class="i-search nc">
                                                        <div id="custom-search-input">
                                                            <div class="input-group">
                                                                @Html.TextBox("Item", "", new { @placeholder = "Item,Category,Description", @title = "Item,Category,Description",@autocomplete="off", @class = "form-control" })
                                                                <span class="input-group-btn">
                                                                    <button class="btn btn-info btn-lg" type="submit">
                                                                        <i class="fa fa-search" aria-hidden="true"></i>
                                                                    </button>
                                                                </span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @if (Convert.ToString(Session["roleid"]) == "1")
                                                    {
                                                        <div class="occ-new">
                                                            <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("AddInventory", "Admin", new { id = 0})'">
                                                                <i class="fas fa-plus"></i>Add New Item
                                                            </button>
                                                        </div>
                                                    }
                                                </div>
                                                <div class="main-wrapper current-project-wrapper">
                                                    @if (Convert.ToString(TempData["SearchKey"]) != "")
                                                    {
                                                        <a id="clear_search" href="">Clear All</a>
                                                    }
                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="x_panel-corres">
                                                                <div class="x_content">
                                                                    <div class="table-tittle">
                                                                    </div>
                                                                    <div class="table-responsive">
                                                                        <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                            <!-- need pagination table -->
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Item</th>
                                                                                    <th>Category</th>
                                                                                    <th>Availability</th>
                                                                                    <th>Quantity</th>
                                                                                    <th>Image</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Model != null)
                                                                                {
                                                                                    int i = ViewBag.Inv_serial_nbr;

                                                                                    if (Model.All_Inv != null)
                                                                                    {
                                                                                        if (Model.All_Inv.Count() > 0)
                                                                                        {
                                                                                            var InvPage = Model.All_Inv.ToList().ToPagedList(Inv_cur_page ?? 1, 10);
                                                                                            foreach (var Invn in InvPage)
                                                                                            {
                                                                                                i++;
                                                                                                <tr>
                                                                                                    <td>@i</td>
                                                                                                    <td>@Html.ActionLink(Invn.Item, "AddInventory", "Admin", new { id = Invn.InventoryID }, htmlAttributes: new { @class = "dashboardlink" })</td>
                                                                                                    <td>@Invn.CategoryName</td>
                                                                                                    <td>@Invn.Availability</td>
                                                                                                    <td>@Invn.Quantity</td>
                                                                                                    @if (!string.IsNullOrEmpty(Invn.ImageUrl))
                                                                                                    {
                                                                                                        <td><div class="dashboard-inven-images"><img src="@Invn.ImageUrl" /></div></td>
                                                                                                    }
                                                                                                    else
                                                                                                    {
                                                                                                        <td>N/A</td>
                                                                                                    }
                                                                                                </tr>
                                                                                            }
                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tr>
                                                                                                <td colspan="4"><p style="text-align:center">No Inventories available</p></td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                        @if (ViewBag.count_Invcontent > 10)
                                                                        {
                                                                            @Html.PagedListPager(Model.All_Inv.ToList().ToPagedList(Inv_cur_page ?? 1, 10), page => Url.Action("ViewAllInventories", "Admin", new { page, id = TempData["InvId"] }))
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>