﻿@model ISM_Project.Models.InvChart
@{
    ViewBag.Title = "OccurenceType";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="x_panel occurrence-top">
                        <div class="col-md-10 back-side">
                            <div class="form-group">
                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                    Select Year :
                                </label>
                                <div class="col-sm-6 col-form-box">
                                    @*   @Html.DropDownListFor(m => m.OccurrenceYear, ViewBag.Year_id as SelectList, new { @class = "form-control",@onchange = "displayChart()",@value= ViewBag.CurrentYear })*@
                                    @Html.DropDownListFor(m => m.OccurrenceYear, ViewBag.Year_id as SelectList, new { @class = "form-control", @onchange = "displayChart()", @value = ViewBag.CurrentYear })
                                </div>
                            </div>
                        </div>
                    </div>
                    @*<div class="col -md-2 table-top-items">
                            <button id="btnnoofoccurrence" class="btn btn-success" type="button" onclick="displayChart()">No.of Occurrence </button>
                        </div>
                        <div class="col-md-2 table-top-items">
                            <button id="btnnoofsr" class="btn btn-success"  type="button" onclick="displaySRChart()">No.of SR</button>
                        </div>*@
                </div>
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="col-md-12 col-sm-12 col-xs-12">
                                <div class="row">
                                    <div id="exTab2" class="">
                                        <div class="tab-content ">
                                            <div class="tab-pane active">
                                                <div class="x_panel">
                                                    <div class="x_content create-user-table form-69-wrapper">
                                                        <div class="info-tittle">
                                                            <h2 id="formName"></h2>
                                                        </div>
                                                        <form id="DynamicForm">
                                                            <div id="chart_div" style="width: 900px; height: 500px;"></div>
                                                            @*<div id="Sr_chart_div" style="width: 900px; height: 500px;"></div>*@
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">


    google.charts.load('current', { 'packages': ['corechart'] });
   

    function displayChart() {

        google.charts.setOnLoadCallback(drawChart);

        //google.charts.setOnLoadCallback(drawSRChart);
    }

    function displaySRChart() {
      //  google.charts.setOnLoadCallback(drawSRChart);
    }

    function drawChart() {

        var yearid = $('#OccurrenceYear').val();

        $.ajax(
            {
                type: 'POST',
                dataType: 'JSON',
                url: '/Chart/GetChartData',
                data: { _year: parseInt(yearid) },
                success:
                    function (response) {
                        var options = {
                            title: 'Occurrence Type',
                            vaxis: { title: 'No. of Occurrence' },
                            haxis: { title: 'Occurrence Month' },
                            seriestype: 'bars',
                            //isStacked: true,
                            //height: 600,
                            legend: { position: 'top', maxLines: 3 },
                            hAxis: {
                                minValue: 0,
                                ticks: [0, .3, .6, .9, 1]
                            },
                            vAxis: { format: '#' },
                            pieSliceText: 'value',
                            //backgroundColor: '#e2e1e0',
                            sliceVisibilityThreshold: 0,
                            series: { 50: { type: 'line' } }
                        };
                        // Draw.
                        drawGraph(response, options, 'chart_div');
                    }
            });
    };

    function drawGraph(dataValues, options, elementId) {
        // Initialization.
        var data = new google.visualization.DataTable();

        // Setting.
        data.addColumn('string', 'Month');
        data.addColumn('number', 'Accident');
        data.addColumn('number', 'Serious Incident');
        data.addColumn('number', 'Incident');
        data.addColumn('number', 'To be determined');

        // Processing.
        for (var i = 0; i < dataValues.length; i++) {
            // Setting.
            data.addRow([dataValues[i].OccurrenceMonth, dataValues[i].Accident, dataValues[i].Serious_Incident, dataValues[i].Incident, dataValues[i].To_be_determined]);
        }

        var view = new google.visualization.DataView(data);

        var chart = new google.visualization.ColumnChart(document.getElementById(elementId));

        // Draw chart.
        chart.draw(view, options);
    }

    function drawSRChart() {

        var yearid = $('#OccurrenceYear').val();

        $.ajax(
            {
                type: 'POST',
                dataType: 'JSON',
                url: '/Chart/GetSRChartData',
                data: { _year: parseInt(yearid) },
                success:
                    function (response) {
                        var options = {
                            title: 'Aircraft Investigation Safety Recommendation',
                            vaxis: { title: 'Investigation Number' },
                            haxis: { title: ' Year ' },
                            seriestype: 'bars',
                            //isStacked: true,
                            //height: 600,
                            legend: { position: 'top', maxLines: 3 },
                            hAxis: {
                                minValue: 0,
                                ticks: [0, .3, .6, .9, 1]
                            },
                            vAxis: { format: '#' },
                            pieSliceText: 'value',
                            //backgroundColor: '#e2e1e0',
                            sliceVisibilityThreshold: 0,
                            series: { 50: { type: 'line' } },
                            pieHole: 0.6,
                        };
                        // Draw.
                        drawSRGraph(response, options, 'Sr_chart_div');
                    }
            });
    };

    function drawSRGraph(dataValues, options, elementId) {
        // Initialization.
        var data = new google.visualization.DataTable();

        //// Setting.
        //data.addColumn('string', 'InvestigationFileNumber');
        //data.addColumn('number', 'Approved');
        //data.addColumn('number', 'Pending');
        //data.addColumn('number', 'Rejected');
        //data.addColumn('number', 'Approved and Communicated');

        //// Processing.
        //for (var i = 0; i < dataValues.length; i++) {
        //    // Setting.
        //    data.addRow([dataValues[i].InvestigationFileNumber, dataValues[i].Approved, dataValues[i].Pending, dataValues[i].Rejected, dataValues[i].Approved_and_Communicated]);
        //}

        // Setting.
        data.addColumn('string', 'DAAIStatus');
        data.addColumn('number', 'NoofRecommendation');

        // Processing.
        for (var i = 0; i < dataValues.length; i++) {
            // Setting.
            data.addRow([dataValues[i].DAAIStatus, dataValues[i].NoofRecommendation]);
        }

        var view = new google.visualization.DataView(data);

        var chart = new google.visualization.PieChart(document.getElementById(elementId));

        // Draw chart.
        chart.draw(view, options);
    }

</script>



