﻿@using PagedList;
@using PagedList.Mvc;

@model ISM_Project.Models.IIC
@{
    ViewBag.Title = "Correspondences";
  
    Layout = "~/Views/Shared/_Layout.cshtml";
    int? corr_cur_page = (ViewBag.page_no);
}
@if (Session["username"] != null)
{

    <div class="main_ism_wrapper">
        <div class="container-fluid">
            <div class="col-md-12">
                <div class="row">
                    <div class="main-user-wrapper investigation-scope-wrapper">
                        @using (Html.BeginForm("Correspondences", "IIC", new { id = TempData["InvId"] }, FormMethod.Post, new { id = "corresForm" }))
                        {
                            <input type="hidden" value="@Model.invAssigned" id="userId" />
                            <input type="hidden" value="@Model.InvestigationFileID" id="inv_file_Id" />
                            <div class="main-wrapper">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div class="x_panel">
                                            <div class="x_content form-create-user-table">
                                                <div class="info-tittle">
                                                    <h2>Correspondence Management</h2>
                                                </div>
                                                @if (Model != null)
                                                {
                                                    if (Model.Inv != null)
                                                    {
                                                        if (Model.Inv.Count() > 0)
                                                        {
                                                            foreach (var inv in Model.Inv)
                                                            {
                                                                <div class="scope-details">
                                                                    <div class="row">
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    Notifier Name:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierName) ? Convert.ToString(inv.NotifierName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    Local Date & Time of Occurrence:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                        <div class="col-md-6">
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    Notifier Organization:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierOrganization) ? Convert.ToString(inv.NotifierOrganization) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    UTC Date & Time of Occurrence:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                                </div>
                                                                            </div>

                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="clearfix"></div>
                                        <div class="x_panel">
                                            <div class="x_content form-create-user-table">
                                                <div class="info-tittle">
                                                    <h2>Investigation Correspondence</h2>
                                                </div>
                                                <div class="evidence-list-track">

                                                    <div class="form-group" style="margin-right: 15px;">
                                                        <label>Correspondence Type :</label>
                                                        @Html.DropDownList("LKCorrespondenceMessageTypeID", ViewBag.corresp_Lsit as SelectList, "Select", new { @class = "form-control", @onchange = "ddlTypeNameChange()" })

                                                    </div>
                                                    <div class="form-group" style="margin-right: 15px;">
                                                        <label>DAAI Approval Required :</label>
                                                        @Html.DropDownList("DAAIApproved", ViewBag.DAAIApprovalList as SelectList, new { @class = "form-control", @onchange = "ddlTypeNameChange()" })
                                                    </div>
                                                    <div class="search-field">
                                                        <div class="i-search nc">
                                                            <div id="custom-search-input">
                                                                <div class="input-group">

                                                                    @Html.TextBox("CorrespondenceControlNumber", "", new { @placeholder = "ControlNumber,Subject,Content", @title = "ControlNumber,Subject,Content", @class = "form-control" })
                                                                    <span class="input-group-btn">
                                                                        ,
                                                                        <button class="btn btn-info btn-lg" type="submit">
                                                                            <i class="fa fa-search" aria-hidden="true"></i>
                                                                        </button>
                                                                    </span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                        <div class="occ-new">
                                                            @if (Session["username"] != null)
                                                            {
                                                                if (Session["roleid"].ToString() == "4" || Session["roleid"].ToString() == "7")
                                                                //if (Session["roleid"].ToString() == "4" && Convert.ToInt32(TempData["Inv_Status"]) != 2)
                                                                {
                                                                    <button type="button" class="btn btn-addnew" id="iicAssigned">
                                                                        <i class="fas fa-plus"></i>Add New
                                                                    </button>@*<button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("AddCorrespondence", "IIC", new { invid = TempData["InvId"] })'">
                                                        <i class="fas fa-plus"></i>Add New
                                                    </button>*@
                                                                }
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="main-wrapper current-project-wrapper">
                                                    @if (Convert.ToString(TempData["SearchKey"]) != "")
                                                    {
                                                        <a id="clear_search" href="">Clear All</a>
                                                    }

                                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                                        <div class="row">
                                                            <div class="x_panel-corres">
                                                                <div class="x_content">
                                                                    <div class="table-responsive">
                                                                        <table id="datatable" class="table table-responsive table-hover table-bordered correspondance-table">
                                                                            <!-- need pagination table -->
                                                                            <thead>
                                                                                <tr>
                                                                                    <th>#</th>
                                                                                    <th>Control Number</th>
                                                                                    <th>Date of last Communication</th>
                                                                                    <th>Correspondence Type</th>
                                                                                    <th>Subject</th>
                                                                                    <th>DAAI Approval Required</th>
                                                                                    <th>Number of Correspondence</th>
                                                                                    <th>DAAI Approval Status</th>
                                                                                </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                @if (Model != null)
                                                                                {

                                                                                    int i = ViewBag.serial_nbr;
                                                                                    if (Model.Corres != null)
                                                                                    {
                                                                                        if (Model.Corres.Count() > 0)
                                                                                        {
                                                                                            int corrID = 0;

                                                                                            if (ViewBag.count_pagecontent > 0)
                                                                                            {
                                                                                                foreach (var corresp in Model.Corres.ToList().ToPagedList(corr_cur_page ?? 1, 10))
                                                                                                {
                                                                                                    var fontweight = "normal";
                                                                                                    if (corresp.isViewed == false)
                                                                                                    {
                                                                                                        fontweight = "bold";
                                                                                                    }

                                                                                                    corrID = corresp.CorrespondenceID;


                                                                                                    i++;
                                                                                                    <tr style="font-weight:@fontweight">
                                                                                                        <td>@i</td>
                                                                                                        <td>
                                                                                                            @Html.ActionLink(corresp.CorrespondenceControlNumber, "ViewCorrespondence", "IIC", new { id = TempData["InvId"], Corr_id = corresp.CorrespondenceID }, new { @class = "dashboardlink" })
                                                                                                        </td>
                                                                                                        <td>@corresp.LastCorrespondenceDate.ToString("dd/MM/yyyy")</td>
                                                                                                        <td>@corresp.LKCorrespondenceTypeName</td>
                                                                                                        <td>@corresp.Subject</td>
                                                                                                        @if (corresp.DAAIApprovalRequired != null)
                                                                                                        {
                                                                                                            if (@corresp.DAAIApprovalRequired == false)
                                                                                                            {
                                                                                                                <td>No</td>
                                                                                                            }
                                                                                                            if (corresp.DAAIApprovalRequired == true)
                                                                                                            {
                                                                                                                <td>Yes</td>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <td>N/A</td>
                                                                                                        }
                                                                                                        <td>@corresp.NoofCorrespondence</td>
                                                                                                        <td>@corresp.DAAIApproved</td>
                                                                                                    </tr>
                                                                                                }
                                                                                            }
                                                                                            else
                                                                                            {
                                                                                                foreach (var corresp in Model.Corres.ToList())
                                                                                                {
                                                                                                    var fontweight = "normal";
                                                                                                    if (corresp.isViewed == false)
                                                                                                    {
                                                                                                        fontweight = "bold";
                                                                                                    }

                                                                                                    corrID = corresp.CorrespondenceID;

                                                                                                    i++;
                                                                                                    <tr style="font-weight:@fontweight">
                                                                                                        <td>@i</td>
                                                                                                        <td>
                                                                                                            @Html.ActionLink(corresp.CorrespondenceControlNumber, "ViewCorrespondence", "IIC", new { id = TempData["InvId"], Corr_id = corresp.CorrespondenceID }, new { @class = "dashboardlink" })
                                                                                                        </td>
                                                                                                        <td>@corresp.LastCorrespondenceDate.ToString("dd/MM/yyyy")</td>
                                                                                                        <td>@corresp.LKCorrespondenceTypeName</td>
                                                                                                        <td>@corresp.Subject</td>
                                                                                                        @if (corresp.DAAIApprovalRequired != null)
                                                                                                        {
                                                                                                            if (@corresp.DAAIApprovalRequired == false)
                                                                                                            {
                                                                                                                <td>No</td>
                                                                                                            }
                                                                                                            if (corresp.DAAIApprovalRequired == true)
                                                                                                            {
                                                                                                                <td>Yes</td>
                                                                                                            }
                                                                                                        }
                                                                                                        else
                                                                                                        {
                                                                                                            <td>N/A</td>
                                                                                                        }
                                                                                                        <td>@corresp.NoofCorrespondence</td>
                                                                                                        <td>@corresp.DAAIApproved</td>
                                                                                                    </tr>
                                                                                                }
                                                                                            }

                                                                                        }
                                                                                        else
                                                                                        {
                                                                                            <tr><td colspan="7"><p style="text-align:center">No correspondences available</p></td></tr>
                                                                                        }
                                                                                    }
                                                                                }
                                                                            </tbody>
                                                                        </table>
                                                                        @if (ViewBag.count_pagecontent > 10)
                                                                        {

                                                                            @Html.PagedListPager(Model.Corres.ToList().ToPagedList(corr_cur_page ?? 1, 10), page => Url.Action("Correspondences", "IIC", new { page, id = TempData["InvId"] }))

                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- sumitted form btns -->
                                <!-- sumitted form btns -->
                            </div>
                        }

                    </div>
                </div>
            </div>
        </div>
    </div>
}
