﻿


<div class="x_panel james_xpanel1">
    <div class="inner-x_content">
        <div class="table-tittle"><h2>Active Failures</h2></div>
    </div>

    <a class="addanalysis_dropdown" id="addanalysis_dropdown"> Add Analyses Values</a>
    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-12">
            <div class="col-md-3">
                <label>Organizational Influences</label>
            </div>
            <div class="col-md-3">
                <label>Unsafe Supervision</label>
            </div>
            <div class="col-md-3">
                <label>Pre-Conditions</label>
            </div>
            <div class="col-md-3">
                <label>Unsafe Act</label>
            </div>
        </div>
    </div>
    <input type="hidden" id="NoOfactivefailures" name="NoOfactivefailures" value="2">
    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">

                @Html.DropDownList("org_infl[]", ViewBag.org_infl as SelectList, "Select", new { id = "active_org_infl_1", @class = "form-control", })
            </div>
            <div class="col-md-3">

                @Html.DropDownList("unsafe_svision_list[]", ViewBag.unsafe_svision_list as SelectList, "Select", new { id = "active_unsafe_svision_list_1", @class = "form-control", })
            </div>
            <div class="col-md-3">

                @Html.DropDownList("pre_cond_list[]", ViewBag.pre_cond_list as SelectList, "Select", new { id = "active_pre_cond_list_1", @class = "form-control", })
            </div>
            <div class="col-md-3">

                @Html.DropDownList("unsafe_act_list[]", ViewBag.unsafe_act_list as SelectList, "Select", new { id = "active_unsafe_act_list_1", @class = "form-control", })
            </div>

        </div>
        <input type="hidden" id="hdnactive_1" name="activelatentchecker[]" value="1" />
    </div>

    <div class="row" id="james_2">
        <div class="col-md-12">

            <div class="col-md-3">
               
                @Html.DropDownList("org_infl[]", ViewBag.org_infl as SelectList, "Select", new { id = "active_org_infl_2", @class = "form-control", })
            </div>
            <div class="col-md-3">
                
                @Html.DropDownList("unsafe_svision_list[]", ViewBag.unsafe_svision_list as SelectList, "Select", new { id = "active_unsafe_svision_list_2", @class = "form-control", })

            </div>
            <div class="col-md-3">
              
                @Html.DropDownList("pre_cond_list[]", ViewBag.pre_cond_list as SelectList, "Select", new { id = "active_pre_cond_list_2", @class = "form-control", })

            </div>
            <div class="col-md-3">
              
                @Html.DropDownList("unsafe_act_list[]", ViewBag.unsafe_act_list as SelectList, "Select", new { id = "active_unsafe_act_list_2", @class = "form-control", })
            </div>
         
            <input type="hidden" id="hdnactive_2" name="activelatentchecker[]" value="1" />
        </div>

        <a href="javascript:void(0);" class="remove_james" id="rmjames_2">X</a>
    </div>



    <div id="james_section"></div>

    <div class="row"  style="margin-top:0px;margin-bottom:0px;">
        <div class='col-sm-12 col-form-label'>
            <label style="float:right; margin-bottom:0px;" id="add_active_james"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
        </div>
    </div>

</div>
<div class="x_panel james_xpanel1">

    @*<div class="latent_div">
            <h2 class="text-center">Latent Conditions</h2>
        </div>*@
    <div class="inner-x_content">
        <div><h2 class="table-title">Latent Conditions</h2></div>
    </div>

    <div class="row" style="margin-bottom:10px;">
        <div class="col-md-12">
            <div class="col-md-3">
                <label>Organizational Influences</label>
            </div>
            <div class="col-md-3">
                <label>Unsafe Supervision</label>
            </div>
            <div class="col-md-3">
                <label>Pre-Conditions</label>
            </div>
            <div class="col-md-3">
                <label>Unsafe Act</label>
            </div>
        </div>
    </div>
    <input type="hidden" id="NoOflatentfailures" name="NoOflatentfailures" value="2">

    <div class="row">
        <div class="col-md-12">

            <div class="col-md-3">
                @*<select class="form-control">
                        <option value="0">Select</option>
                        <option>Latent Option 1</option>
                        <option>Latent Option 2</option>
                        <option>Latent Option 3</option>
                        <option>Latent Option 4</option>
                        <option>Latent Option 5</option>
                        <option>Latent Option 6</option>
                        <option>Latent Option 7</option>
                        <option>Latent Option 8</option>
                        <option>Latent Option 9</option>
                        <option>Latent Option 10</option>
                    </select>*@
                @Html.DropDownList("org_infl[]", ViewBag.org_infl as SelectList, "Select", new { id = "active_org_infl_1", @class = "form-control", })
            </div>
            <div class="col-md-3">
                @*<select class="form-control">
                        <option value="0">Select</option>
                        <option>Latent Variable 1</option>
                        <option>Latent Variable 2</option>
                        <option>Latent Variable 3</option>
                        <option>Latent Variable 4</option>
                        <option>Latent Variable 5</option>
                        <option>Latent Variable 6</option>
                        <option>Latent Variable 7</option>
                        <option>Latent Variable 8</option>
                        <option>Latent Variable 9</option>
                        <option>Latent Variable 10</option>
                    </select>*@
                @Html.DropDownList("unsafe_svision_list[]", ViewBag.unsafe_svision_list as SelectList, "Select", new { id = "latent_unsafe_svision_list_1", @class = "form-control", })
            </div>
            <div class="col-md-3">
                @*<select class="form-control">
                        <option value="0">Select</option>
                        <option>LatentParameter 1</option>
                        <option>Latent Parameter 2</option>
                        <option>Latent Parameter 3</option>
                        <option>Latent Parameter 4</option>
                        <option>Latent Parameter 5</option>
                        <option>Latent Parameter 6</option>
                        <option>Latent Parameter 7</option>
                        <option>Latent Parameter 8</option>
                        <option>Latent Parameter 9</option>
                        <option>Latent Parameter 10</option>
                    </select>*@
                @Html.DropDownList("pre_cond_list[]", ViewBag.pre_cond_list as SelectList, "Select", new { id = "latent_pre_cond_list_1", @class = "form-control", })
            </div>
            <div class="col-md-3">
                @*<select class="form-control">
                        <option value="0">Select</option>
                        <option>LatentParameter 1</option>
                        <option>Latent Parameter 2</option>
                        <option>Latent Parameter 3</option>
                        <option>Latent Parameter 4</option>
                        <option>Latent Parameter 5</option>
                        <option>Latent Parameter 6</option>
                        <option>Latent Parameter 7</option>
                        <option>Latent Parameter 8</option>
                        <option>Latent Parameter 9</option>
                        <option>Latent Parameter 10</option>
                    </select>*@
                @Html.DropDownList("unsafe_act_list[]", ViewBag.unsafe_act_list as SelectList, "Select", new { id = "latent_unsafe_act_list_1", @class = "form-control", })
            </div>

        </div>
    </div>
    <div class="row" id="latentjames_2">
        <div class="col-md-12">

            <div class="col-md-3">
                @*<select class="form-control">
                        <option value="0">Select</option>
                        <option>Latent Option 1</option>
                        <option>Latent Option 2</option>
                        <option>Latent Option 3</option>
                        <option>Latent Option 4</option>
                        <option>Latent Option 5</option>
                        <option>Latent Option 6</option>
                        <option>Latent Option 7</option>
                        <option>Latent Option 8</option>
                        <option>Latent Option 9</option>
                        <option>Latent Option 10</option>
                    </select>*@
                @Html.DropDownList("org_infl[]", ViewBag.org_infl as SelectList, "Select", new { id = "latent_org_infl_2", @class = "form-control", })
            </div>
            <div class="col-md-3">
                @*<select class="form-control">
                        <option value="0">Select</option>
                        <option>Latent Variable 1</option>
                        <option>Latent Variable 2</option>
                        <option>Latent Variable 3</option>
                        <option>Latent Variable 4</option>
                        <option>Latent Variable 5</option>
                        <option>Latent Variable 6</option>
                        <option>Latent Variable 7</option>
                        <option>Latent Variable 8</option>
                        <option>Latent Variable 9</option>
                        <option>Latent Variable 10</option>
                    </select>*@
                @Html.DropDownList("unsafe_svision_list[]", ViewBag.unsafe_svision_list as SelectList, "Select", new { id = "latent_unsafe_svision_list_2", @class = "form-control", })
            </div>
            <div class="col-md-3">
                @*<select class="form-control">
                        <option value="0">Select</option>
                        <option>LatentParameter 1</option>
                        <option>Latent Parameter 2</option>
                        <option>Latent Parameter 3</option>
                        <option>Latent Parameter 4</option>
                        <option>Latent Parameter 5</option>
                        <option>Latent Parameter 6</option>
                        <option>Latent Parameter 7</option>
                        <option>Latent Parameter 8</option>
                        <option>Latent Parameter 9</option>
                        <option>Latent Parameter 10</option>
                    </select>*@

                @Html.DropDownList("pre_cond_list[]", ViewBag.pre_cond_list as SelectList, "Select", new { id = "latent_pre_cond_list_2", @class = "form-control", })

            </div>
            <div class="col-md-3">
                @*<select class="form-control">
                        <option value="0">Select</option>
                        <option>LatentParameter 1</option>
                        <option>Latent Parameter 2</option>
                        <option>Latent Parameter 3</option>
                        <option>Latent Parameter 4</option>
                        <option>Latent Parameter 5</option>
                        <option>Latent Parameter 6</option>
                        <option>Latent Parameter 7</option>
                        <option>Latent Parameter 8</option>
                        <option>Latent Parameter 9</option>
                        <option>Latent Parameter 10</option>
                    </select>*@
                @Html.DropDownList("unsafe_act_list[]", ViewBag.unsafe_act_list as SelectList, "Select", new { id = "latent_unsafe_act_list_2", @class = "form-control", })
            </div>
            <input type="hidden" id="hdnlatent_1" name="activelatentchecker[]" value="2" />
            <input type="hidden" id="hdnlatent_2" name="activelatentchecker[]" value="2" />
        </div>
        <a href="javascript:void(0);" class="remove_latentjames" id="rmlatentjames_2">X</a>
    </div>
    <div id="latent_section"></div>

    <div class="row"  style="margin-top:0px;margin-bottom:0px;">

        <div class='col-sm-12 col-form-label'>

            <label style="float:right;" id="add_latentjames"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>

        </div>


    </div>

    <input type="hidden" value="2" id="counter" />
    <input type="hidden" value="2" id="latent_counter" />

    <div class="modal-footer">
        <small id="emailHelp" style="float:left" class="form-text popup_success"></small>

        <button type="button" class="btn btn-save" id="analysisbutton">Save</button>
        @*<button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>*@
    </div>

</div>
