﻿@model ISM_Project.Models.IIC
@{
    ViewBag.Title = "Reassigning IIC";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Re-Assigning IIC</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                @if (Model != null)
                                                {
                                                    if (Model.Inv != null)
                                                    {
                                                        if (Model.Inv.Count() > 0)
                                                        {
                                                            foreach (var inv in Model.Inv)
                                                            {
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                            Notifier Name:
                                                                        </label>
                                                                        <div class="col-sm-6 col-form-box">
                                                                            <label class="form-values">@inv.NotifierName </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                            UTC Date & Time of Occurrence:
                                                                        </label>
                                                                        <div class="col-sm-6 col-form-box">
                                                                            <label class="form-values">@Convert.ToDateTime(@inv.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                                <div class="col-md-6">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                            Notifier Organization:
                                                                        </label>
                                                                        <div class="col-sm-6 col-form-box">
                                                                            <label class="form-values">@inv.NotifierOrganization</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                            Local Date & Time of Occurrence:
                                                                        </label>
                                                                        <div class="col-sm-6 col-form-box">
                                                                            <label class="form-values">@Convert.ToDateTime(@inv.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                                        </div>
                                                                    </div>

                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                @using (Html.BeginForm("ReassignIIC", "IIC", FormMethod.Post, new { id = "formReAssignIIC" }))
                                {

                                    <div class="x_panel">
                                        <div class="x_content form-create-user-table">
                                            <div class="col-md-12 scope no-padding">

                                                <div class="assign-content">
                                                    <div class="info-tittle">
                                                        <h2>Re-Assign IIC</h2>
                                                    </div>
                                                    <div class="row">
                                                        @if (Model != null)
                                                        {
                                                            if (Model.Assign_IIC != null)
                                                            {
                                                                if (Model.Assign_IIC.Count() > 0)
                                                                {
                                                                    foreach (var IIC in Model.Assign_IIC)
                                                                    {
                                                                        <div class="col-md-8">

                                                                            <div class="form-group">
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    Current Investigator-in-charge:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    <label class="form-values">@IIC.FirstName </label>
                                                                                    <input type="hidden" value="@IIC.IICAssigned" id="IIC_ASSIGNED" name="IIC_ASSIGNED" />

                                                                                </div>
                                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                    Investigator-in-charge Email:
                                                                                </label>
                                                                                <div class="col-sm-6 col-form-box">
                                                                                    <label class="form-values">@IIC.EmailAddress</label>
                                                                                    <input type="hidden" value="@IIC.InvestigationFileID" id="InvestigationFileID" name="InvestigationFileID" />
                                                                                </div>
                                                                            </div>
                                                                            <div class="form-group">
                                                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1"> Reason For Removal<span class="text-danger">*</span></label>
                                                                                <div class="col-sm-8 col-form-box event-desc">
                                                                                    @Html.TextAreaFor(m => m.IIC_REASONFORREMOVE, new{
                                                                                        @type = "text",
                                                                                        @class = "form-control",
                                                                                        @style = "height: 178px; margin: 0px -72.3264px 0px 0px; width: 647px;"
                                                                                    })
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    }
                                                                }
                                                            }
                                                        }

                                                    </div>
                                                </div>

                                                <div class="info-tittle">
                                                    <h2>Available IIC</h2>
                                                </div>

                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Name</th>
                                                            <th>Current Cases</th>
                                                            <th>View Profile</th>
                                                            <th>Email ID</th>
                                                            <th>Assign</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>

                                                        @foreach (var AllIC in Model.list_iic_incharge)
                                                        {
                                                            if (AllIC.UserID != ViewBag.ASSIGNED_IIC)
                                                            {
                                                                <tr>
                                                                    <td>

                                                                        @Html.LabelFor(ModelItem => AllIC.FirstName, AllIC.FirstName + " " + AllIC.MiddleName + " " + AllIC.LastName, new { @title = AllIC.FirstName + " " + AllIC.MiddleName + " " + AllIC.LastName })
                                                                    </td>
                                                                    @*<td>@AllIC.FirstName + '' + AllIC.MiddleName + '' + AllIC.LastName</td>*@
                                                                    <td>@AllIC.noofcases</td>

                                                                    <td>
                                                                        <label class="form-values"><a href="" id="IIC_@AllIC.UserID " class="iicprofile dashboardlink" data-iic="@Html.DisplayFor(ModelItem => AllIC.UserID)" data-toggle="modal">View Profile</a></label>
                                                                    </td>
                                                                    <td>@AllIC.EmailAddress</td>
                                                                    <td>
                                                                        <input type="radio" id="IIC_REASSIGNED" name="IIC_REASSIGNED" value="@AllIC.UserID">
                                                                    </td>
                                                                </tr>
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                                <div class="openfile-btns">

                                                    <button type="button" class="btn btn-save" id="BtnReAssignIIC" onclick="ReassignIIC()">Re-Assign IIC</button>
                                                </div>
                                                <div class="info-tittle">
                                                    <h2>Re-AssignHistory IIC</h2>
                                                </div>
                                                <table class="table table-bordered table-hover">
                                                    <thead>
                                                        <tr>
                                                            <th>Re-Assigned IIC</th>
                                                            <th>Assigned </th>
                                                            <th>Reson for Reassign</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                      @foreach (var History in Model.reassignhistory)
                                                        {
                                                          <tr>
                                                           <td>@History.IICAssigned</td>
                                                           <td>@History.AssignedBY</td>
                                                           <td>@History.ReasonForReAssignment</td>
                                                           </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="iic_assignedpopup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">

        <!-- Modal content-->
        <div class="modal-content" id="profile_data">


            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>

