﻿@model ISM_Project.Models.LKOccurrenceCategorization
@{
    ViewBag.Title = "OccurrenceCategorization";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-title">
        <h2>Occurrence Category </h2>
    </div>
</div>

<div class="modal-body" id="OccurCateg_Reg">
    <small id="emailHelp" class="form-text popup_danger"></small>
    @using (Html.BeginForm("AddOccurCategory", "Notifications", FormMethod.Post, new { id = "Occur_CategReg" }))
    {
        <div class="closeinvestigation-wrapp">
            <div class="closeinvestigation-inner create-user-table">
                <form>
                    <input type="hidden" id="aircid" value="0" />                 
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Categorization Acronym <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextBoxFor(m => m.OccurrenceCategorizationAcronym, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px", @placeholder = "" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Occurrence Category <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextBoxFor(m => m.OccurrenceCategorization, new { @type = "text", @class = "form-control saveAirport", @style = "margin-bottom:10px", @placeholder = "" })                           
                            @Html.Hidden("LKOccurrenceCategorizationId",Model.LKOccurrenceCategorizationId, new { id = "LKOccurrenceCategorizationId", @class = "form-control" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">       
            <button type="button" class="btn btn-save" onclick="SaveOccurrenceCategory()">Save / Update</button>
        </div>
    }
</div>

