﻿@model ISM_Project.Models.UserModel
@{
    ViewBag.Title = "Form_35";
    Layout = null;
}
<link href="@Server.MapPath("~/Content/bootstrap.min.css")" rel="stylesheet" />
<!-- ===================-->

<div class="form-wrapps">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Notifier Name 567<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Notifier Name", required = "required", type = "text", @class = "form-control" })
               
            </div>
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Notifier Position<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Notifier Position", required = "required", type = "text", @class = "form-control" })
           
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Notifier Organization<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Notifier Organization", required = "required", type = "text", @class = "form-control" })
             
            </div>
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Notifier Contact No<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.phone, new { @placeholder = "Enter Contact No", required = "required", type = "phone", @class = "form-control" })

       
            </div>
        </div>
    </div>
</div>
<!-- ======================== -->
<div class="form-wrapps">
    <div class="form-group row">
        <div class="col-xs-12 col-xs-3 col-lg-3 left-padding">
            <label for="exampleInputEmail1">Date & Time of Call<span class="text-danger">*</span></label>
        </div>
        <div class="col-xs-12 col-xs-6 col-lg-5 no-padding">
          
            @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { @placeholder = "Date and Time Local", @type = "datetime-local", @class = "form-control" })

        </div>
        <div class="col-xs-12 col-xs-3 col-lg-4 date-list">
            <label>(mm/dd/yyyy HH:MM)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-xs-3 col-lg-3 left-padding">
            <label for="exampleInputEmail1">
                Occurrence Info UTC Date & Time of occurrence
                <span class="text-danger">*</span>
            </label>
        </div>
        <div class="col-xs-12 col-xs-6 col-lg-5 no-padding">
       
            @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { @placeholder = "UTC Date and Time of occurrence", required = "required", @type = "datetime-local", @class = "form-control" })

        </div>
        <div class="col-xs-12 col-xs-3 col-lg-4 date-list">
            <label>(mm/dd/yyyy HH:MM)</label>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-xs-12 col-xs-3 col-lg-3 left-padding">
            <label for="exampleInputEmail1">
                Local Date & Time of occurrence
                <span class="text-danger">*</span>
            </label>
        </div>
        <div class="col-xs-12 col-xs-6 col-lg-5 no-padding">
        
            @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { @placeholder = "Local Date and Time of occurrence", required = "required", @type = "datetime-local", @class = "form-control" })
        </div>
        <div class="col-xs-12 col-xs-3 col-lg-4 date-list">
            <label>(mm/dd/yyyy HH:MM)</label>
        </div>
    </div>
</div>
<!-- ================== -->
<div class="form-wrapps">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Place<span class="text-danger">*</span></label>
               
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Place", type = "text", @class = "form-control" })
            </div>
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Flight Number<span class="text-danger">*</span></label>
              
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Flight Number", type = "text", @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Long & Lat <span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Longitude and Latitude", type = "text", @class = "form-control" })
             
            </div>
        </div>
    </div>
</div>
<!-- ================== -->
<div class="form-wrapps">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Departure Airport<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Departure Airport", type = "text", @class = "form-control" })

            </div>
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Destination Airport<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Destination Airport", type = "text", @class = "form-control" })
            
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Passengers Onboard <span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Passengers Onboard", type = "text", @class = "form-control" })
         
            </div>
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Crew Onboard <span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Crew Onboard", type = "text", @class = "form-control" })
              
            </div>
        </div>
    </div>
</div>
<!-- ================== -->
<div class="form-wrapps">
    <div class="form-group">
        <div class="form-min-table">
            <table class="table">
                <thead>
                    <tr>
                        <th>Injuries </th>
                        <th>Crew<span class="text-danger">*</span></th>
                        <th>Passengers<span class="text-danger">*</span></th>
                        <th>Others<span class="text-danger">*</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Fatal</td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                    </tr>
                    <tr>
                        <td>Serious</td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                    </tr>
                    <tr>
                        <td>Minor</td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                    </tr>
                    <tr>
                        <td>None</td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                        <td><input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter First Name"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- ================== -->
<div class="form-wrapps">
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Aircraft Info Make and Model<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Aircraft Make and Model", type = "text", @class = "form-control" })
           
            </div>
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Registration<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Registration", type = "text", @class = "form-control" })
      
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Engine Info<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Engine Info", type = "text", @class = "form-control" })
            
            </div>
            <div class="col-xs-6">
                <label for="exampleFormControlSelect1">Maximum Mass</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleFormControlSelect1">Aircraft Category</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
            <div class="col-xs-6">
                <label for="exampleFormControlSelect1">State of Registry</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">MSN Operator Info <span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter MSN Operator Info", type = "text", @class = "form-control" })
             
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Operator Name<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Operator Name", type = "text", @class = "form-control" })
               
            </div>
            <div class="col-xs-6">
                <label for="exampleFormControlSelect1">State of the Operator</label>
                <select class="form-control" id="exampleFormControlSelect1">
                    <option>1</option>
                    <option>2</option>
                    <option>3</option>
                    <option>4</option>
                    <option>5</option>
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-6">
                <label for="exampleInputEmail1">Operator Contacts<span class="text-danger">*</span></label>
                @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Operator Contacts", type = "text", @class = "form-control" })
          
            </div>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-lg-3 no-padding">
            <label for="exampleInputEmail1">Classification<span class="text-danger">*</span></label>
        </div>
        <div class="col-lg-5">

            <div class="checkbox">
                <label><input type="checkbox" value="">Accident</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Serious Incident</label>
            </div>
            <div class="checkbox disabled">
                <label><input type="checkbox" value="">Incident</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Occurrence without safety effect</label>
            </div>
            <div class="checkbox">
                <label><input type="checkbox" value="">Safety Occurrence</label>
            </div>
            <div class="checkbox disabled">
                <label><input type="checkbox" value="">Not Determined</label>
            </div>

        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-xs-12">
                <label for="exampleInputEmail1">Occurrence Description<span class="text-danger">*</span></label>
                @Html.TextAreaFor(m => m.first_name, new { type = "text", @class = "form-control" })
           
            </div>
        </div>
    </div>
    <div class="form-group row attachments-tag">
        <div class="col-lg-3 no-padding">
            <label for="exampleInputEmail1">
                Attachments
                <span class="text-danger">*</span>
            </label>
        </div>
        <div class="col-lg-5 no-padding">
        

            <div class="input-group">
                <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
                <div class="input-group-btn">
                    <div class="fileUpload btn btn-success">
                        <span><i class="fa fa-upload" aria-hidden="true"></i>Upload</span>
                        <input id="uploadBtn" type="file" class="upload">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- =========== -->
<div class="row">
    <div class="col-xs-12">
        <h2>DI Occurrence Assessment </h2>
    </div>
    <div class="col-xs-12">
        <div class="form-wrapps">
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Is the occurrence classified as an Accident or Serious Incident?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Accident
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Serious Incident
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Does the occurrence involve a large or small aircraft?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Large aircraft
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Small aircraft
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Commercial or Private use?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Commercial use
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Private use
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Involve a UAE registered aircraft or UAE operator?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">UAE registered aircraft
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">UAE operator
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Is there a trend on the same operator, aircraft type, kind of operation as per the review of ROSI?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Is there any anticipated safety value of an investigation</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">
                        Is it expected to make a potential impact on public confidence on aviation safety?
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Have a relevance to an identified and targeted safety program?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">
                        Are there enough available resources and projected to be available in the event of conflicting priorities?
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">
                        Is there any other opportunity to be investigated by other investigation authority?
                        Or to be internally investigated by the concerned operator?
                        <span class="text-danger">*</span>
                    </label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">What is the time gap between the occurrence and its notification?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Does the occurrence have training benefits for the AAIS investigators?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
            <div class="form-group row attachments-tag">
                <div class="col-xs-12 col-sm-6 col-lg-7 no-padding">
                    <label for="exampleInputEmail1">Does the occurrence have training benefits for the AAIS investigators?</label>
                </div>
                <div class="col-xs-12 col-sm-6 col-lg-5 option-tags">
                    <label class="radio-inline">
                        <input type="radio" name="optradio">Yes
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="optradio">No
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h2>DI Suggestions and Further Investigation </h2>
    </div>
    <div class="col-xs-12">
        <label for="exampleInputEmail1">Comments<span class="text-danger">*</span></label>
        @Html.TextAreaFor(m => m.first_name, new { type = "text", @class = "form-control" })

    </div>
</div>
<div class="form-group row">
    <div class="col-lg-3 no-padding">
        <label for="exampleInputEmail1">DI Suggestion</label>
    </div>
    <div class="col-lg-9">

        <div class="checkbox">
            <label><input type="checkbox" value="">Require detailed investigation</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Require limited scope investigation (Summary Report)</label>
        </div>
        <div class="checkbox disabled">
            <label><input type="checkbox" value="">Need to open a safety case</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Do not bring valuable safety lessons</label>
        </div>
        <div class="checkbox">
            <label><input type="checkbox" value="">Need to be recorded by the AAIS for future action</label>
        </div>
        <div class="checkbox disabled">
            <label><input type="checkbox" value="">Investigation by other agency</label>
        </div>

    </div>
</div>
<div class="form-group row">
    <div class="col-xs-4 col-lg-3 no-padding">
        <label for="exampleInputEmail1">DI Name</label>
    </div>
    <div class="col-xs-8 col-lg-9">
        @Html.TextAreaFor(m => m.first_name, new { type = "text", @class = "form-control" })
   

        <label class="radio-inline">
            <input type="radio" name="optradio">Open a Case
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Open a Safety Study
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Close
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">UAE Investigation
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">Foreign Investigation
        </label>
        <label class="radio-inline">
            <input type="radio" name="optradio">On Hold
        </label>

    </div>
</div>
