﻿@model ISM_Project.Models.InvestigationModel
@{
    ViewBag.Title = "Form_35_Tab";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@* css for tab form alignment *@
<link href="~/css/Form35_Style.css" rel="stylesheet" />
<!--style and js for bootstrap DataTime picker -->
@Styles.Render("~/Content/DatePickerCss")
@Styles.Render("~/Content/custom")
@Scripts.Render("~/bundles/DatePickerJs")

<script src="~/js/notifications.js"></script>
<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                @*<div class="x_panel top-breadcrumb" style="text-align:center">
                        <div class="col-md-2 back-side">
                            <button class="btn btn-success" type="button" onclick="location.href='@Url.Action("DashBoard", "Home")'">Back to DashBoard</button>
                        </div>
                        <h2>NOTN/0025/22017</h2>
                    </div>*@
                <div class="main-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div id="exTab2" class="">
                                <ul class="nav nav-tabs main-navpils">
                                    <li class="active">
                                        <a href="#general-info" data-toggle="tab">General Info</a>
                                    </li>
                                    <li>
                                        <a href="#2" data-toggle="tab">Occurrence Classification</a>
                                    </li>
                                    <li>
                                        <a href="#3" data-toggle="tab">Passenger Info</a>
                                    </li>
                                    <li class="">
                                        <a href="#4" data-toggle="tab">Aircraft Details</a>
                                    </li>
                                    <li>
                                        <a href="#5" data-toggle="tab">DI Occurrence assessment</a>
                                    </li>
                                    <li>
                                        <a href="#6" data-toggle="tab">DI Suggestions & Further Investigation </a>
                                    </li>
                                </ul>
                                @using (Html.BeginForm("Form_35_Tab", "Notifications", FormMethod.Post, new { id = "general_info" }))
                                
                            <div class="tab-content ">

                                <div class="tab-pane active" id="general-info">

                                    <div class="x_panel">
                                        <div class="x_content create-user-table">


                                            @Html.HiddenFor(m => m.OccurrenceID, new { @type = "text", @class = "form-control hidden" })
                                            @Html.HiddenFor(m => m.NotificationID, new { @type = "text", @class = "form-control hidden" })
                                            @Html.HiddenFor(m => m.InvestigationFileID, new { @type = "text", @class = "form-control hidden" })

                                            <div class="info-tittle">
                                                <h2>General Info</h2>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                    Notifier Name<span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.NotifierName, new { @placeholder = "Enter Notifier Name", required = "required", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Notifier Organization<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.NotifierOrganization, new { @placeholder = "Enter Notifier Organization", required = "required", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Notifier Position<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.NotifierPosition, new { @placeholder = "Enter Notifier Position", required = "required", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Notifier Contact No <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.NotifierContactNumber, new { @placeholder = "Enter Contact No", required = "required", @type = "phone", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Date and Time of Call <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    <div class='input-group date' id='dtCall'>
                                                        @*<input id="txtDateandTimeofCall" type="text" class="form-control" />*@
                                                        @Html.TextBoxFor(m => m.NotifierCallDate, "{0:yyyy-MM-dd}", new { @placeholder = "Enter Time of Call", required = "required", @type = "", @class = "form-control" })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                    @*  @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { @placeholder = "Date and Time of Call", @type = "datetime-local", @class = "form-control" })*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">UTC Date and Time of occurence <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    <div class='input-group date' id='dtUTCOcc'>
                                                        @*<input id="txtUTCDateandTimeofOcc" type="text" class="form-control" />*@
                                                        @Html.TextBoxFor(m => m.UTCDateAndTimeOfOccurrence, "{0:yyyy-MM-dd}", new { @placeholder = "Enter UTC Date and Time", required = "required", @type = "", @class = "form-control" })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Local Date and Time of occurrence<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    <div class='input-group date' id='dtLocalOcc'>
                                                        @*<input id="txtLocDateandTimeofOcc" type="text" class="form-control" />*@
                                                        @Html.TextBoxFor(m => m.LocalDateAndTimeOfOccurrence, "{0:yyyy-MM-dd}", new { @placeholder = "Enter Local Date and Time of occurrence", required = "required", @type = "", @class = "form-control" })
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                    @*  @Html.TextBoxFor(m => m.dob, "{0:yyyy-MM-dd}", new { @placeholder = "Date and Time of Call", @type = "datetime-local", @class = "form-control" })*@
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Place <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownListFor(m => m.LKCountryID, ViewBag.country_id as SelectList, "select", new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Flight Number <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.FlightNumber, new { @placeholder = "Enter Flight Number", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Longitude <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.PlaceOfIncidentLongitude, new { @placeholder = "Enter Longitude", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Latitude <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.PlaceOfIncidentLatitude, new { @placeholder = "Enter Latitude", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Departure Airport <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownListFor(m => m.LKDepartureAirportID, ViewBag.airport_id as SelectList, "select", new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Destination Airport  <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownListFor(m => m.LKDestinationAirportID, ViewBag.airport_id as SelectList, "select", new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>


                                            <div class="create-bottom-btn">
                                                <button type="submit" class="btn btn-save btn-SaveGn" onclick="saveInvestigation('general_info')">Save General Information</button>
                                            </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="2">
                                    <div class="x_panel">
                                        <div class="x_content create-user-table">
                                            @*@using (Html.BeginForm("Form_35_Tab", "Notifications", FormMethod.Post, new { id = "Occurence_Classification" }))
                    {*@
                                            <div class="info-tittle">
                                                <h2>Occurence Classification</h2>
                                            </div>


                                            <div class="form-group">
                                                <div class="col-sm-12 col-form-box">
                                                    <div>
                                                        @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result OccurenceClass in ViewBag.common_OccurenceClassification)
                                                        {
                                <label class="radio">
                                    @Html.RadioButton("Classification", OccurenceClass.ID, false)
                                    @OccurenceClass.LKVALUE
                                </label>
                                                        }
                                                        <br />
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Event Description <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box  event-desc">
                                                    @Html.TextAreaFor(m => m.EventDescription, new { @placeholder = "", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                            </div>
                                            <div class="form-group row attachments-tag">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attachments <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    <div class="input-group">
                                                        <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
                                                        <div class="input-group-btn">
                                                            <div class="fileUpload btn btn-success">
                                                                <span><i class="fa fa-upload" aria-hidden="true"></i>Upload</span>
                                                                <input id="uploadBtn" type="file" class="upload">
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                            @*}*@
                                        </div>
                                        <div class="create-bottom-btn">
                                            <button type="submit" class="btn btn-save btn-SaveGn" onclick="saveInvestigation('general_info')">Save Occurence Classification</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="3">
                                    <div class="x_panel">
                                        <div class="x_content create-user-table">
                                            @*@using (Html.BeginForm("Form_35_Tab", "Notifications", FormMethod.Post, new { id = "Passenger_Info" }))
                    {*@
                                            <div class="info-tittle">
                                                <h2>Passenger Info</h2>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Passenger Onboard <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.PassengersOnBoard, new { @placeholder = "Enter Passenger Onboard", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Crew Onboard <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.CrewOnBoard, new { @placeholder = "Enter Crew Onboard", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <div class="form-min-table">
                                                    <table class="table">
                                                        <thead>
                                                            <tr>
                                                                <th>Injuries </th>
                                                                <th>Crew<span class="text-danger">*</span></th>
                                                                <th>Passengers<span class="text-danger">*</span></th>
                                                                <th>Others<span class="text-danger">*</span></th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                            <tr>
                                                                <td>Fatal</td>
                                                                <td> @Html.TextBoxFor(m => m.CrewsWithFatalInjury, new { @placeholder = "Enter Crews With Fatal Injury", @type = "text", @class = "form-control" })</td>
                                                                <td> @Html.TextBoxFor(m => m.PassengersWithFatalInjury, new { @placeholder = "Enter Passengers With Fatal Injury", @type = "text", @class = "form-control" })</td>
                                                                <td> @Html.TextBoxFor(m => m.OthersWithFatalInjury, new { @placeholder = "Enter Others With Fatal Injury", @type = "text", @class = "form-control" })</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Serious</td>
                                                                <td> @Html.TextBoxFor(m => m.CrewsWithSeriousInjury, new { @placeholder = "Enter Crews With Serious Injury", @type = "text", @class = "form-control" })</td>
                                                                <td> @Html.TextBoxFor(m => m.PassengersWithSeriousInjury, new { @placeholder = "Enter Passengers With Serious Injury", @type = "text", @class = "form-control" })</td>
                                                                <td> @Html.TextBoxFor(m => m.OthersWithSeriousInjury, new { @placeholder = "Enter Others With Serious Injury", @type = "text", @class = "form-control" })</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Minor</td>
                                                                <td> @Html.TextBoxFor(m => m.CrewsWithMinorInjury, new { @placeholder = "Enter Crews With Minor Injury", @type = "text", @class = "form-control" })</td>
                                                                <td> @Html.TextBoxFor(m => m.PassengersWithMinorInjury, new { @placeholder = "Enter Passengers With Minor Injury", @type = "text", @class = "form-control" })</td>
                                                                <td> @Html.TextBoxFor(m => m.OthersWithMinorInjury, new { @placeholder = "Enter Others With Minor Injury", @type = "text", @class = "form-control" })</td>
                                                            </tr>
                                                            <tr>
                                                                <td>None</td>
                                                                <td> @Html.TextBoxFor(m => m.CrewsKilled, new { @placeholder = "Enter No.Of Crews Killed", @type = "text", @class = "form-control" })</td>
                                                                <td> @Html.TextBoxFor(m => m.PassengersKilled, new { @placeholder = "Enter No.Of Passengers Killed ", @type = "text", @class = "form-control" })</td>
                                                                <td> @Html.TextBoxFor(m => m.OthersKilled, new { @placeholder = "Enter No.Of Others Killed", @type = "text", @class = "form-control" })</td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </div>
                                            </div>
                                            </form>
                                            @*}*@
                                        </div>
                                        <div class="create-bottom-btn">
                                            <button type="submit" class="btn btn-save btn-SaveGn" onclick="saveInvestigation('general_info')">Save Passenger Info</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="4">
                                    <div class="x_panel">
                                        <div class="x_content create-user-table">
                                            @*@using (Html.BeginForm("Form_35_Tab", "Notifications", FormMethod.Post, new { id = "Aircraft_Details" }))
                    {*@
                                            <div class="info-tittle">
                                                <h2>Aircraft Details</h2>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Aircraft Make  <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownListFor(m => m.LKAircraftMakeID, ViewBag.makes as SelectList, "select", new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Aircraft Model <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.AircraftModel, new { @placeholder = "Enter Aircraft Model", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Aircraft Type  <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownListFor(m => m.LKAircraftTypeID, ViewBag.aircraft_type as SelectList, "select", new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Registration <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.RegistrationMarkingsOnAircraft, new { @placeholder = "Enter Registration", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Engine Info <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.AircraftEngineInfo, new { @placeholder = "Enter Engine Info", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Maximum Mass <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.AircraftMaximumMass, new { @placeholder = "Enter Maximum Mass", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Aircraft Category  <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownList("txtAircraftCategory", ViewBag.Category_id as SelectList, "select", new { @class = "form-control", required = "required" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">State of Registry<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.NameOfRegisteredOwner, new { @placeholder = "Enter State of Registry", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Operator Name<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.LKAirlineOperatorID, new { @placeholder = "Enter Operator Name", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">State of Operator <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.OperatorState, new { @placeholder = "Enter State of Operator", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Operator Contacts <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.OperatorContactNumber, new { @placeholder = "Enter Operator Contacts", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            </form>
                                            @*}*@
                                        </div>

                                        <div class="create-bottom-btn">
                                            <button type="submit" class="btn btn-save btn-SaveGn" onclick="saveInvestigation('general_info')">Save Aircraft Details</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="5">
                                    <div class="x_panel">
                                        <div class="x_content create-user-table">
                                            @*@using (Html.BeginForm("Form_35_Tab", "Notifications", FormMethod.Post, new { id = "Suggestions_FurtherInvestigation" }))
                    {*@
                                            <div class="info-tittle">
                                                <h2>DI Occurrence Assessment</h2>
                                            </div>

                                            <div class="col-xs-12">
                                                <div class="form-wrapps">
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">Is the occurrence classified as an Accident or Serious Incident?</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result AccidentIncident in ViewBag.Accident_Incident)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("Classification", AccidentIncident.ID, false)
                                            @AccidentIncident.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">Does the occurrence involve a large or small aircraft?</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result largeaircraftsmallaircraft in ViewBag.largeaircraft_smallaircraft)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("largeaircraftsmallaircraft", largeaircraftsmallaircraft.ID, false)
                                            @largeaircraftsmallaircraft.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">Commercial or Private use?</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result CommercialPrivate in ViewBag.Commercial_Private)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("CommercialPrivate", CommercialPrivate.ID, false)
                                            @CommercialPrivate.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">Involve a UAE registered aircraft or UAE operator?</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result UAEregisteredaircraftUAEoperator in ViewBag.UAEregisteredaircraft_UAEoperator)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("UAEregisteredaircraftUAEoperator", UAEregisteredaircraftUAEoperator.ID, false)
                                            @UAEregisteredaircraftUAEoperator.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">Is there a trend on the same operator, aircraft type, kind of operation as per the review of ROSI?</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result Yes_No in ViewBag.Yes_No_1)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("Yes_No", Yes_No.ID, false)
                                            @Yes_No.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">Is there any anticipated safety value of an investigation</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result YesNo in ViewBag.Yes_No_2)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("YesNo", YesNo.ID, false)
                                            @YesNo.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">
                                                                Is it expected to make a potential impact on public confidence on aviation safety?
                                                                @*<span class="text-danger">*</span>*@
                                                            </label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result Yes_No in ViewBag.Yes_No_3)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("Yes_No", Yes_No.ID, false)
                                            @Yes_No.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">Have a relevance to an identified and targeted safety program?</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result Yes_No in ViewBag.Yes_No_4)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("Yes_No", Yes_No.ID, false)
                                            @Yes_No.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group ">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">
                                                                Are there enough available resources and projected to be available in the event of conflicting priorities?
                                                                @*  <span class="text-danger">*</span>*@
                                                            </label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result Yes_No in ViewBag.Yes_No_5)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("Yes_No", Yes_No.ID, false)
                                            @Yes_No.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">
                                                                Is there any other opportunity to be investigated by other investigation authority?
                                                                Or to be internally investigated by the concerned operator?
                                                                @*<span class="text-danger">*</span>*@
                                                            </label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result Yes_No in ViewBag.Yes_No_6)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("Yes_No", Yes_No.ID, false)
                                            @Yes_No.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">What is the time gap between the occurrence and its notification?</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result Yes_No in ViewBag.Yes_No_7)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("Yes_No", Yes_No.ID, false)
                                            @Yes_No.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="col-xs-12 col-sm-6 col-lg-7 no-padding margin-bottom-10">
                                                            <label for="exampleInputEmail1">Does the occurrence have training benefits for the AAIS investigators?</label>
                                                        </div>
                                                        <div class="col-xs-12 col-sm-6 col-lg-5 option-tags margin-bottom-10">
                                                            <div>
                                                                @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result Yes_No in ViewBag.Yes_No_8)
                                    {
                                        <label class="radio-inline">
                                            @Html.RadioButton("Yes_No", Yes_No.ID, false)
                                            @Yes_No.LKVALUE
                                        </label>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            </form>
                                            @*}*@
                                        </div>
                                        <div class="create-bottom-btn">
                                            <button type="submit" class="btn btn-save btn-SaveGn" onclick="saveInvestigation('general_info')">Save Occurrence Assessment</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="tab-pane" id="6">
                                    <div class="x_panel">
                                        <div class="x_content create-user-table">
                                            @*@using (Html.BeginForm("Form_35_Tab", "Notifications", FormMethod.Post, new { id = "DIOccurrence_Assessment" }))
                    {*@
                                            <div class="info-tittle">
                                                <h2> Suggestions & Further Investigation</h2>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">DI Name <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextBoxFor(m => m.DutyInvestigatorComments, new { @placeholder = "Enter DI Name", @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Comments<span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.TextAreaFor(m => m.LKDepartureAirportID, new { @type = "text", @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">DI Suggestion <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box" id="radDISug">
                                                    <div class="radio">
                                                        @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result DISuggestion in ViewBag.DI_Suggestion)
                                                        {
                                <label class="radio">
                                    @Html.RadioButton("DISuggestion", DISuggestion.ID, false)
                                    @DISuggestion.LKVALUE
                                </label>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">DI Further Suggestion <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box" id="radDIFSug">
                                                    <div class="radio">
                                                        @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result DIFurtherSuggestion in ViewBag.DI_FurtherSuggestion)
                                                        {
                                <label class="radio">
                                    @Html.RadioButton("DIFurtherSuggestion", DIFurtherSuggestion.ID, false)
                                    @DIFurtherSuggestion.LKVALUE
                                </label>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            @*</div>*@
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Investigation Type <span class="text-danger">*</span></label>
                                                <div class="col-sm-8 col-form-box">
                                                    @foreach (ISM_Project.Models.USP_GET_MASTERVALUES_Result InvestigationType in ViewBag.Investigation_Type)
                                                    {
                            <label class="radio-inline">
                                @Html.RadioButton("InvestigationType", InvestigationType.ID, false)
                                @InvestigationType.LKVALUE
                                @* @Html.Label(InvestigationType.LKVALUE,new { @class="radio-inline"})*@
                            </label>
                                                    }
                                                </div>
                                            </div>

                                        </div>

                                        <div class="create-bottom-btn">
                                            <button type="submit" class="btn btn-save btn-SaveGn" onclick="saveInvestigation('general_info')">Save Suggestions</button>
                                        </div>
                                    </div>

                                </div>

                            </div>
                                
                            <div class="x_panel notify-btns">
                                <button type="submit" class="btn btn-notify" data-toggle="modal" data-target="#mailSendModal">Notify ACCID</button>
                                <button type="submit" class="btn btn-cancel" onclick="location.href='@Url.Action("Dashboard", "home")'">Submit Form 35</button>
                            </div>
                            @*<div class="x_panel notify-btns">
        <button type="submit" class="btn btn-notify" data-toggle="modal" data-target="#mailSendModal">Notify ACCID</button>
        <button type="submit" class="btn btn-cancel" onclick="location.href='@Url.Action("Dashboard", "home")'">Submit Form 35</button>
    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="mailSendModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Success</h4>
            </div>
            <div class="modal-body">
                <p>Mail has been send successfully!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>



