﻿@model ISM_Project.Models.Theme
@{
    ViewBag.Title = "ThemeSetting";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="main-user-wrapper">
                <div class="main-wrapper current-project-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_content form-create-user-table">
                                    <div class="info-tittle">
                                        <h2> Theme Settings</h2>
                                        <div class="clearfix"></div>
                                    </div>
                                    <div class="x_content">
                                        @using (Html.BeginForm("ThemeSetting", "Home", FormMethod.Post, new { id = "frm_Theme" }))
                                        {
                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                    Theme Name <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownListFor(m => m.ClassName, ViewBag.Theme_List as SelectList, "Select", new { @class = "form-control", @style = "margin-bottom:10px" })
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                    Font Size <span class="text-danger">*</span>
                                                </label>
                                                <div class="col-sm-8 col-form-box">
                                                    @Html.DropDownListFor(m => m.FontSize, new SelectList(new List<Object>{new { value = 0 , text = "Select"  },
                                                                                   new { value = 12 , text = "12" },
                                                                                   new { value = 13 , text = "13"},
                                                                                    new { value = 14 , text = "14"},
                                                                                     new { value = 15 , text = "15"},
                                                                                      new { value = 16 , text = "16"},
                                                                                       new { value = 17 , text = "17"},
                                                                                        new { value = 18 , text = "18"},
                                                                                         new { value = 19 , text = "19"},
                                                                                          new { value = 20 , text = "20"},

                                                                                   }, "value", "text", 2), new { @class = "form-control" })
                                                </div>
                                            </div>
                                            <div class="create-bottom-btn">
                                                <button type="submit" class="btn btn-save btn-SaveGn" onclick="SetTheme()">Save</button>
                                            </div>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
