﻿
@{
    ViewBag.Title = "DynamicForm";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .right-menu {
        display: none;
    }

    .topper {
        background-color: white;
    }
</style>

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="x_panel occurrence-top">
                        <div class="col-md-10 back-side">
                            <div class="form-group">
                                <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Input Json<span class="text-danger">*</span></label>
                                <div class="col-sm-8 col-form-box">
                                    @*<textarea class="form-control" id="jsoninput" rows="6" placeholder="">{"form_name":"User Profile", "fields":[{"label":"First Name","field_type":"text",value:"Muhammad","required":true,"field_options":{"size":"medium","description":"","minlength":"5","maxlength":"50","min_max_length_units":"characters"},"cid":"c6"} ,{"label":"Last Name","field_type":"text",value:"Ameen","required":true,"field_options":{"size":"medium","description":"","minlength":"1","maxlength":"50","min_max_length_units":"characters"},"cid":"c10"} ,{"label":"Gender","field_type":"radio",value:"","required":true,"field_options":{"options":[{"label":"Male","isChecked":true},{"label":"Female","isChecked":false}],"include_other_option":false},"cid":"c14"} ,{"label":"Class","field_type":"dropdown",value:"","required":true,"field_options":{"options":[{"label":"First","isChecked":false},{"label":"Second","isChecked":false},{"label":"Third","isChecked":false},{"label":"Fourth","isChecked":false}],"include_blank_option":false},"cid":"c18"} ,{"label":"Key Skills","field_type":"checkboxes",value:"","required":true,"field_options":{"options":[{"label":"Studies","isChecked":false},{"label":"Sports","checked":false},{"label":"Speaker","checked":false}]},"cid":"c24"}, {"label":"Date Of Birth","field_type":"date",value:"2018-02-14","required":true,"field_options":{"size":"medium","description":"","minlength":"5","maxlength":"50","min_max_length_units":"characters"},"cid":"c6"}, {"label":"Remark","field_type":"textarea",value:"is an enthusiastic learner who seems to enjoy school","required":true,"field_options":{"size":"medium","description":"","minlength":"5","maxlength":"50","min_max_length_units":"characters"},"cid":"c6"},{"label":"Image Upload","field_type":"file",value:"https://xmindsinfotech.sharepoint.com/:b:/g/EYdPyx60-_tGtK82U1GykBcBQJ_7EQaJiO58PW_kWyMSuA","required":true,"field_options":{"size":"medium","description":"","minlength":"5","maxlength":"50","min_max_length_units":"characters"},"cid":"c6"},{"label":"Is Active","field_type":"checkbox",value:"","required":true,"field_options":{"size":"medium","description":"","minlength":"5","maxlength":"50","min_max_length_units":"characters"},"cid":"c6"}   ]}
                                    </textarea>*@
                                    <textarea class="form-control" id="jsoninput" rows="6" placeholder="">{"form_title":"Event 3","form_name":"event3_form", "form_action":"/someaction","fields":[{"label":"1. Obtain and secure the following documents, as appropriate: ","field_type":"label","class_name":"col-sm-12 col-form-label"},{"label":"Air Operator Certificate","field_type":"file","value":"" ,"name":"AirOperatorCertificate","div_name":"airoperatorcertificate","allow_multiple":"1","multiple_class":"aoc" },{"label":"Air Operator Operations Manual","name":"AirOperatorManual", "field_type":"file", "div_name":"airoperatormanual","allow_multiple":"1","multiple_class":"aoc","value":""},
                                    {"label":"Flight Manual (FM)","field_type":"file","name":"FlightManual","div_name":"flightmanual","allow_multiple":"1","multiple_class":"aoc","value":""},{"label":"Conclusion","field_type":"textarea","value":""},{"label":"Save","field_type":"button"}
                                    ]} </textarea>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-2 table-top-items">
                            <button id="btnGenerateForm" class="btn btn-success" type="button">Generate Form</button>
                        </div>
                    </div>
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div id="exTab2" class="">
                                            <div class="tab-content ">
                                                <div class="tab-pane active">
                                                    <div class="x_panel">
                                                        <div class="x_content create-user-table form-69-wrapper">
                                                            <div class="info-tittle">
                                                                <h2 id="formName"></h2>
                                                            </div>
                                                            <form id="DynamicForm" >

                                                                @*<div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                                            Evidence Identification<span class="text-danger">*</span>
                                                                        </label>
                                                                        <div class="col-sm-8 radio-btn-div">
                                                                            <label class="radio-inline">
                                                                                <input type="radio" name="optradio">Option 1
                                                                            </label>
                                                                            <label class="radio-inline">
                                                                                <input type="radio" name="optradio">Option 2
                                                                            </label>
                                                                            <label class="radio-inline">
                                                                                <input type="radio" name="optradio">Option 3
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Category<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                                <option>FDR</option>
                                                                                <option>Operations Manual</option>
                                                                                <option>Maintenance Record</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Type<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <select class="form-control" id="exampleFormControlSelect1">
                                                                                <option>Electronic</option>
                                                                                <option>Physical</option>
                                                                                <option>Other</option>
                                                                            </select>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Name<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Blackbox, Voice recorder etc">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Evidence Description<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <textarea class="form-control" id="form-69-textarea" rows="3"></textarea>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence handed over by<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of the person handing over the evidence">
                                                                        </div>
                                                                    </div>

                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Organization handing over the evidence <span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Like IIC, DAAI, Security Officer etc">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Date of Receipt<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <input type="date" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Received by <span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Name of the person receiving the evidence">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Location of Storage<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Location where evidence will be stored">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Custodian of the evidence<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Evidence Tags<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <div class="tag-points form-control">
                                                                                <span>Blackbox <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                                <span>Voice Recorder <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Evidence Currently with<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="">
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Add Atachements<span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            <div class="input-group inver-file-upload inver-file-upload-dynamic">
                                                                                <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                                <div class="input-group-btn">
                                                                                    <div class="fileUpload btn btn-success">
                                                                                        <span><i class="glyphicon glyphicon-upload"></i> Upload</span>
                                                                                        <input id="uploadBtn" type="file" class="upload">
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="create-bottom-btn">
                                                                        <button type="submit" class="btn btn-save">Submit</button>
                                                                    </div>*@
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            @*<div class="x_panel doc-file-tag-wr">
                                                    <h4>Attachments</h4>
                                                    <div class="attach-tag">
                                                        <ul>
                                                            <li>
                                                                <div class="doc-file-tag">
                                                                    <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                    <a href="#">Delete</a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="doc-file-tag">
                                                                    <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                    <a href="#">Delete</a>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="doc-file-tag">
                                                                    <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                    <a href="#">Delete</a>
                                                                </div>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <div class="create-user-table add-attach">
                                                        <div class="form-group">
                                                            <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Add Atachements<span class="text-danger">*</span></label>
                                                            <div class="col-sm-8 col-form-box">
                                                                <div class="input-group inver-file-upload">
                                                                    <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                    <div class="input-group-btn">
                                                                        <div class="fileUpload btn btn-success">
                                                                            <span><i class="glyphicon glyphicon-upload"></i> Upload</span>
                                                                            <input id="uploadBtn" type="file" class="upload">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="create-bottom-btn">
                                                            <button type="submit" class="btn btn-save">Save and Update</button>
                                                        </div>
                                                    </div>
                                                </div>*@
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/js/sb-admin.js"></script>
<script>

    $(document).ready(function () {

        $('body').on('click', ".input-group.eventPicker", function () {
            $('.input-group.eventPicker').datetimepicker({ format: 'DD/MM/YYYY', maxDate: moment().endOf('d')});
        })

       
        $(document.body).on('click', '.aoc', function () {
            var control_name = $(this).data("control_name");
            var div_name = $(this).data("divname");
            var current_count = $("#" + control_name + "_count").val();
            var new_count = parseInt(current_count) + 1;

            var k = "<div class='col-sm-12 col-form-box' id='dynamic_" + control_name + "_" + new_count+"'>" +
                "<label class='values-tick'<i class='fa fa-times' aria-hidden='true'></i></label>" +
                "<div class='input-group inver-file-upload' style='margin-left:15px;margin-bottom: 15px;margin-top: 15px;width:400px;'>" +
                "<input id = '"+control_name+"_uploadFile_"+new_count+"' class='form-control' placeholder='Choose File' disabled='disabled'>"+               
                "<div class='input-group-btn'>" +
                "<div class='fileUpload btn btn-success'>" +
                "<span><i class='fa fa-upload'></i> Upload</span>" +
                "<input id ='" + control_name + "_uploadBtn_" + new_count +"' type ='file' class='event_upload' name='" + control_name + "[]'/>" +
                "</div>" +
                "</div>" +
                "</div><a href='#' class='remove_dynamic_file' id='" + control_name + "_remove_" + new_count+"'>X</a>"+
                "</div>";
            $("." + div_name).append(k);

            $("#" + control_name + "_count").val(new_count);
        });


        $(document.body).on('change', '.event_upload', function () {
            var img = $(this).val();
            var num = $(this).attr('id').split('_');           
            var param = num[0];
            var ncount = num[2];
            $("#" + param + "_uploadFile_" + ncount).val(img);
        });

        $(document.body).on('click', '.remove_dynamic_file', function () {
            var file_id = $(this).attr('id').split('_');
            if (file_id[0] && file_id[1]) {

                var cntrl_name = file_id[0];
                var count_no = file_id[2];
                var rm_div = "dynamic_" + cntrl_name + "_" + count_no;             
                $("#" + rm_div).remove();
                var old_count = $("#" + cntrl_name + "_count").val();                 
                var new_count = parseInt(old_count) - parseInt(1);
                $("#" + cntrl_name + "_count").val(new_count);
            }
        });
        



    });

</script>
<!--testing-->
