﻿@{
    ViewBag.Title = "DynamicForm";
    Layout = "~/Views/Shared/PageLayout.cshtml";
}
<style>
    .right-menu {
        display: none;
    }

    .topper {
        background-color: white;
    }

    .row {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .remove_shell{
        margin-top: -23px;
        margin-right: 4px;
        margin-left: 2px;
        /* position: absolute; */
        /* top: -18px; */
        background-color: #ef5e7f;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff !important;
        box-shadow: 0px 1px 1px 1px #ef5e7f;
        float: right;
        position: relative;
    }

    label {
        font-size: 15px;
    }
</style>

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
           
            <div class="main-user-wrapper investigation-scope-wrapper">
                <div class="x_panel">

                    <div class="inner-x_content">
                        <div class="table-tittle"><h2>Liveware-System Support Interface</h2></div>
                    </div>

                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <label>Procedures</label>
                            </div>
                            <div class="col-md-6">
                                <label>Training</label>
                            </div>


                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>SOPS</option>
                                    <option>Emergency & Abnormal Procedures</option>
                                    <option>ATC Procedures</option>
                                    <option>Aerodrome Procedures</option>
                                    <option>Maintenance Procedures</option>
                                    <option>Company Procedures</option>
                                    <option>Other Procedures</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Basic/Initial Training</option>
                                    <option>Simulator Training</option>
                                    <option>On-The Job Training</option>
                                    <option>Emergency Training</option>
                                    <option>CRM/TRM Training</option>
                                    <option>Recurrent Training</option>
                                    <option>Miscellaneous Training Issues</option>
                                </select>
                            </div>

                        </div>
                    </div>

                    <div class="row" id="SSI_2">
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>SOPS</option>
                                    <option>Emergency & Abnormal Procedures</option>
                                    <option>ATC Procedures</option>
                                    <option>Aerodrome Procedures</option>
                                    <option>Maintenance Procedures</option>
                                    <option>Company Procedures</option>
                                    <option>Other Procedures</option>
                                </select>
                            </div>

                            <div class="col-md-6">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Basic/Initial Training</option>
                                    <option>Simulator Training</option>
                                    <option>On-The Job Training</option>
                                    <option>Emergency Training</option>
                                    <option>CRM/TRM Training</option>
                                    <option>Recurrent Training</option>
                                    <option>Miscellaneous Training Issues</option>
                                </select>
                            </div>

                        </div>

                        <a href="javascript:void(0);" class="remove_shell" id="SSI_2">X</a>
                    </div>
                    <div id="SSI_section"></div>


                    <div class="row" style="margin-top:30px;margin-bottom:20px;">
                        <div class='col-sm-12 col-form-label'>
                            <label style="float:right;" class="shell_addition" id="SSI_shell"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
                        </div>
                        <input type="hidden" id="SSI_counter" value="2" />
                    </div>

                  

                </div>


                <div class="x_panel">

                    <div class="inner-x_content">
                        <div class="table-tittle"><h2>Liveware-Hardware/Software Interface</h2></div>
                    </div>

                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Hardware</label>
                            </div>
                            <div class="col-md-3">
                                <label>Information Data Sources</label>
                            </div>
                            <div class="col-md-3">
                                <label>Software/Firmware</label>
                            </div>

                            <div class="col-md-3">
                                <label>Other Operational Material</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Cockpit Equipment / Design</option>
                                    <option>Aircraft Equipment</option>
                                    <option>Aircraft Maintenance Equipment</option>
                                    <option>Suitablility of Design / Ergonomics For Training Purpose</option>
                                    <option>ATC Equipment</option>
                                    <option>Suitability of Design for Maintenance Purpose</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Data Sources</option>
                                    <option>Communications Media</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Software</option>
                                    <option>Firmware</option>
                                    <option>Automation Design and Functionality</option>
                                    <option>Use of Automation</option>
                                    <option>Cockpit Warnings</option>
                                    <option>ATC Alarms/ Alerts</option>
                                    <option>Other Defences Warnings</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Flight Deck Manuals Checklists and Charts</option>
                                    <option>ATC Operational Material</option>
                                    <option>Maintenance Engineering Material</option>
                                    <option>Operational Material-Other</option>
                                </select>
                            </div>


                        </div>
                    </div>
                    <div class="row" id="HSI_2">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Cockpit Equipment / Design</option>
                                    <option>Aircraft Equipment</option>
                                    <option>Aircraft Maintenance Equipment</option>
                                    <option>Suitablility of Design / Ergonomics For Training Purpose</option>
                                    <option>ATC Equipment</option>
                                    <option>Suitability of Design for Maintenance Purpose</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Data Sources</option>
                                    <option>Communications Media</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Software</option>
                                    <option>Firmware</option>
                                    <option>Automation Design and Functionality</option>
                                    <option>Use of Automation</option>
                                    <option>Cockpit Warnings</option>
                                    <option>ATC Alarms/ Alerts</option>
                                    <option>Other Defences Warnings</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Flight Deck Manuals Checklists and Charts</option>
                                    <option>ATC Operational Material</option>
                                    <option>Maintenance Engineering Material</option>
                                    <option>Operational Material-Other</option>
                                </select>
                            </div>


                        </div>

                        <a href="javascript:void(0);" class="remove_shell" id="HSI_2">X</a>
                    </div>
                    <div id="HSI_section">

                    </div>

                    <div class="row" style="margin-top:30px;margin-bottom:20px;">
                        <div class='col-sm-12 col-form-label'>
                            <label style="float:right;" class="shell_addition" id="HSI_shell"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
                        </div>

                        <input type="hidden" id="HSI_counter" value="2" />
                    </div>



                </div>
 
                <div class="x_panel">

                    <div class="inner-x_content">
                        <div class="table-tittle"><h2>Liveware-Environment Interface</h2></div>
                    </div>

                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Physical Environment</label>
                            </div>
                            <div class="col-md-3">
                                <label>Psychosocial</label>
                            </div>
                            <div class="col-md-3">
                                <label>Company Management Manning Regularoty Issues</label>
                            </div>

                            <div class="col-md-3">
                                <label>Operational Task Demands</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Aerodrome Landing Takeoff Site</option>
                                    <option>Information</option>
                                    <option>Worksapce Environment</option>
                                    <option>Air Traffic Service</option>
                                    <option>Weather Visual Conditions/option>
                                    <option>Other Human-Environment Interface</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Job Satisfaction</option>
                                    <option>Morale/Motivation</option>
                                    <option>Cultural Issues</option>
                                    <option>Domestic Issues</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Pressures</option>
                                    <option>Management Personnel Policies</option>
                                    <option>Labour Relations</option>
                                    <option>Manning</option>
                                    <option>Regualtory Authority Policies And Practices</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>High Workload</option>
                                    <option>Time Pressures</option>
                                    <option>Operational Mental Pressure</option>
                                    <option>Training Examination Check Situation</option>
                                    <option>Miscellaneous Operational Task Demands</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" id="EI_2">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Aerodrome Landing Takeoff Site</option>
                                    <option>Information</option>
                                    <option>Worksapce Environment</option>
                                    <option>Air Traffic Service</option>
                                    <option>Weather Visual Conditions/option>
                                    <option>Other Human-Environment Interface</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Job Satisfaction</option>
                                    <option>Morale/Motivation</option>
                                    <option>Cultural Issues</option>
                                    <option>Domestic Issues</option>
                                    <option>Other</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Pressures</option>
                                    <option>Management Personnel Policies</option>
                                    <option>Labour Relations</option>
                                    <option>Manning</option>
                                    <option>Regualtory Authority Policies And Practices</option>

                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>High Workload</option>
                                    <option>Time Pressures</option>
                                    <option>Operational Mental Pressure</option>
                                    <option>Training Examination Check Situation</option>
                                    <option>Miscellaneous Operational Task Demands</option>
                                </select>
                            </div>
                        </div>

                        <a href="javascript:void(0);" class="remove_shell" id="EI_2">X</a>
                    </div>

                    <div id="EI_section"></div>


                    <div class="row" style="margin-top:30px;margin-bottom:20px;">
                        <div class='col-sm-12 col-form-label'>
                            <label style="float:right;" class="shell_addition" id="EI_shell"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
                        </div>
                        <input type="hidden" id="EI_counter" value="2" />
                    </div>


                </div>

                <div class="x_panel">

                    <div class="inner-x_content">
                        <div class="table-tittle"><h2>Liveware-Liveware Interface</h2></div>
                    </div>

                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Communications</label>
                            </div>
                            <div class="col-md-3">
                                <label>Interactions Team Skills</label>
                            </div>
                            <div class="col-md-3">
                                <label>Supervision</label>
                            </div>

                            <div class="col-md-3">
                                <label>Regulatory Activities</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Oral Communications</option>
                                    <option>Write Read Communications</option>
                                    <option>Visuals Signals</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Team Skills</option>
                                    <option>Formal Coordination</option>
                                    <option>Shift/Watch Team Changeover</option>
                                    <option>Other Interactions</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Operational Supervision</option>
                                    <option>Supervision During Training</option>
                                    <option>Quality Control</option>
                                    <option>Standards</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Regulatory Procedures</option>
                                    <option>Regulatory Standards</option>
                                    <option>Regulation</option>
                                    <option>Inspections</option>
                                    <option>Monitoring (Regulation)</option>
                                    <option>Surveillance</option>
                                    <option>Audit</option>
                                    <option>Checks</option>
                                </select>
                            </div>


                        </div>
                    </div>

                    <div class="row" id="LLI_2">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Oral Communications</option>
                                    <option>Write Read Communications</option>
                                    <option>Visuals Signals</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Team Skills</option>
                                    <option>Formal Coordination</option>
                                    <option>Shift/Watch Team Changeover</option>
                                    <option>Other Interactions</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Operational Supervision</option>
                                    <option>Supervision During Training</option>
                                    <option>Quality Control</option>
                                    <option>Standards</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Regulatory Procedures</option>
                                    <option>Regulatory Standards</option>
                                    <option>Regulation</option>
                                    <option>Inspections</option>
                                    <option>Monitoring (Regulation)</option>
                                    <option>Surveillance</option>
                                    <option>Audit</option>
                                    <option>Checks</option>
                                </select>
                            </div>


                        </div>
                        <a href="javascript:void(0);" class="remove_shell" id="LLI_2">X</a>
                    </div>

                    <div id="LLI_section"></div>

                    <div class="row" style="margin-top:30px;margin-bottom:20px;">
                        <div class='col-sm-12 col-form-label'>
                            <label style="float:right;" class="shell_addition" id="LLI_shell"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
                        </div>
                        <input type="hidden" id="LLI_counter" value="2"/>
                    </div>


                </div>


                <div class="x_panel">

                    <div class="inner-x_content">
                        <div class="table-tittle"><h2>Liveware</h2></div>
                    </div>

                    <div class="row" style="margin-bottom:10px;">
                        <div class="col-md-12">
                            <div class="col-md-3">
                                <label>Physical/Physiological</label>
                            </div>
                            <div class="col-md-3">
                                <label>Psychological</label>
                            </div>
                            <div class="col-md-3">
                                <label>Workload Management</label>
                            </div>

                            <div class="col-md-3">
                                <label>Experience Qualifications</label>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Physical Characteristics</option>
                                    <option>Sensory Limitations</option>
                                    <option>Health Fitness LifeStyle</option>
                                    <option>Illness/Incapcitation</option>
                                    <option>Illusions</option>
                                    <option>Fatigue Alertness</option>
                                    <option>Other</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Action Error</option>
                                    <option>Planning</option>
                                    <option>Information Processing Decision Making</option>
                                    <option>Attention Perception Monitoring</option>
                                    <option>Skill Technique Ability</option>
                                    <option>Judgement</option>
                                    <option>Knowledge Acquisition Learning</option>
                                    <option>Situational Awareness</option>
                                    <option>Personality and Attitudes</option>
                                    <option>Mental Emotional State</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Prioritization Task Scheduling</option>
                                    <option>Timing</option>
                                    <option>Task Shedding</option>
                                    <option>Task Allocation</option>
                                    <option>Other Workload Management</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Experience And Qualifications</option>
                                    <option>Recency</option>
                                    <option>Knowledge</option>
                                </select>
                            </div>


                        </div>
                    </div>

                    <div class="row" id="LW_2">
                        <div class="col-md-12">

                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Physical Characteristics</option>
                                    <option>Sensory Limitations</option>
                                    <option>Health Fitness LifeStyle</option>
                                    <option>Illness/Incapcitation</option>
                                    <option>Illusions</option>
                                    <option>Fatigue Alertness</option>
                                    <option>Other</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Action Error</option>
                                    <option>Planning</option>
                                    <option>Information Processing Decision Making</option>
                                    <option>Attention Perception Monitoring</option>
                                    <option>Skill Technique Ability</option>
                                    <option>Judgement</option>
                                    <option>Knowledge Acquisition Learning</option>
                                    <option>Situational Awareness</option>
                                    <option>Personality and Attitudes</option>
                                    <option>Mental Emotional State</option>
                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Prioritization Task Scheduling</option>
                                    <option>Timing</option>
                                    <option>Task Shedding</option>
                                    <option>Task Allocation</option>
                                    <option>Other Workload Management</option>


                                </select>
                            </div>
                            <div class="col-md-3">
                                <select class="form-control">
                                    <option value="0">Select</option>
                                    <option>Experience And Qualifications</option>
                                    <option>Recency</option>
                                    <option>Knowledge</option>
                                </select>
                            </div>

                        </div>

                        <a href="javascript:void(0);" class="remove_shell" id="LW_2">X</a>
                    </div>
                    <div id="LW_section"></div>



                    <div class="row" style="margin-top:30px;margin-bottom:20px;">
                        <div class='col-sm-12 col-form-label'>
                            <label style="float:right;" class="shell_addition" id="LW_shell"> Add New <i class='fa fa-plus-square' aria-hidden='true'></i></label>
                        </div>
                        <input type="hidden" id="LW_counter" value="2" />
                    </div>



                </div>

                <div class="x_panel">

                    <div class="col-md-12 table-top-items">
                        <button id=" " class="btn btn-success" type="button">Save</button>

                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script src="~/Scripts/jquery.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<script src="~/Scripts/moment.js"></script>
<script src="~/Scripts/bootstrap-datetimepicker.js"></script>
<script src="~/js/sb-admin.js"></script>
<script>

    $(document).ready(function () {
        $(document.body).on('click', '.shell_addition', function () {   
            var id = $(this).attr('id').split('_');
            var counts = $("#" +id[0]+"_counter").val();
            var counter = parseInt(counts) + parseInt(1);
          
            if (id[0] == "HSI") {
                var k = '<div class="row" id="' + id[0] + '_' + counter + '" style="margin-top:20px;">' +

                    '<div class="col-md-12">' +

                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Cockpit Equipment / Design</option>' +
                    '<option>Aircraft Equipment</option>' +
                    '<option>Aircraft Maintenance Equipment</option>' +
                    '<option>Suitablility of Design / Ergonomics For Training Purpose</option>' +
                    '<option>ATC Equipment</option>' +
                    '<option>Suitability of Design for Maintenance Purpose</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Data Sources</option>' +
                    '<option>Communications Media</option>' +

                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Software</option>' +
                    '<option>Firmware</option>' +
                    '<option>Automation Design and Functionality</option>' +
                    '<option>Use of Automation</option>' +
                    '<option>Cockpit Warnings</option>' +
                    '<option>ATC Alarms/ Alerts</option>' +
                    '<option>Other Defences Warnings</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Flight Deck Manuals Checklists and Charts</option>' +
                    '<option>ATC Operational Material</option>' +
                    '<option>Maintenance Engineering Material</option>' +
                    '<option>Operational Material-Other</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                    '<a href ="javascript:void(0);" class="remove_shell" id="' + id[0] + '_' + counter + '">X</a></div>';
            } else if (id[0] == "EI") {
                var k = '<div class="row" id="' + id[0] + '_' + counter + '" style="margin-top:20px;">' +


                    '<div class="col-md-12">' +

                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Aerodrome Landing Takeoff Site</option>' +
                    '<option>Information</option>' +
                    '<option>Worksapce Environment</option>' +
                    '<option>Air Traffic Service</option>' +
                    '<option>Weather Visual Conditions/option>' +
                    '<option>Other Human-Environment Interface</option>' +


                    ' </select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Job Satisfaction</option>' +
                    '<option>Morale/Motivation</option>' +
                    '<option>Cultural Issues</option>' +
                    '<option>Domestic Issues</option>' +
                    '<option>Other</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Pressures</option>' +
                    '<option>Management Personnel Policies</option>' +
                    '<option>Labour Relations</option>' +
                    '<option>Manning</option>' +
                    '<option>Regualtory Authority Policies And Practices</option>' +

                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>High Workload</option>' +
                    '<option>Time Pressures</option>' +
                    '<option>Operational Mental Pressure</option>' +
                    '<option>Training Examination Check Situation</option>' +
                    '<option>Miscellaneous Operational Task Demands</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                    '<a href ="javascript:void(0);" class="remove_shell" id="' + id[0] + '_' + counter + '">X</a></div>';
            } else if (id[0] == "SSI") {
                var k = '<div class="row" id="' + id[0] + '_' + counter + '" style="margin-top:20px;">' +
                    '<div class="col-md-12">' +
                    '<div class="col-md-6">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>SOPS</option>' +
                    '<option>Emergency & Abnormal Procedures</option>' +
                    '<option>ATC Procedures</option>' +
                    '<option>Aerodrome Procedures</option>' +
                    '<option>Maintenance Procedures</option>' +
                    '<option>Company Procedures</option>' +
                    '<option>Other Procedures</option>' +
                    '</select>' +
                    '</div>' +

                    '<div class="col-md-6">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Basic/Initial Training</option>' +
                    '<option>Simulator Training</option>' +
                    '<option>On-The Job Training</option>' +
                    '<option>Emergency Training</option>' +
                    '<option>CRM/TRM Training</option>' +
                    '<option>Recurrent Training</option>' +
                    '<option>Miscellaneous Training Issues</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                    '<a href="javascript:void(0);" class="remove_shell" id="' + id[0] + '_' + counter + '">X</a>' +
                    '</div>';
            } else if (id[0] == "LLI") {
                var k = '<div class="row" id="' + id[0] + '_' + counter + '" style="margin-top:20px;">' +
                    '<div class="col-md-12">' +

                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Oral Communications</option>' +
                    '<option>Write Read Communications</option>' +
                    '<option>Visuals Signals</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Team Skills</option>' +
                    '<option>Formal Coordination</option>' +
                    '<option>Shift/Watch Team Changeover</option>' +
                    '<option>Other Interactions</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Operational Supervision</option>' +
                    '<option>Supervision During Training</option>' +
                    '<option>Quality Control</option>' +
                    '<option>Standards</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Regulatory Procedures</option>' +
                    '<option>Regulatory Standards</option>' +
                    '<option>Regulation</option>' +
                    '<option>Inspections</option>' +
                    '<option>Monitoring (Regulation)</option>' +
                    '<option>Surveillance</option>' +
                    '<option>Audit</option>' +
                    '<option>Checks</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                    '<a href="javascript:void(0);" class="remove_shell" id="' + id[0] + '_' + counter + '">X</a>' +
                    '</div>';

            } else if (id[0] == "LW") {
              
                 
                var k = '<div class="row" id="' + id[0] + '_' + counter + '" style="margin-top:20px;">' +
                  '<div class="col-md-12">' +
                    ' <div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Physical Characteristics</option>' +
                    '<option>Sensory Limitations</option>' +
                    '<option>Health Fitness LifeStyle</option>' +
                    '<option>Illness/Incapcitation</option>' +
                    '<option>Illusions</option>' +
                    '<option>Fatigue Alertness</option>' +
                    '<option>Other</option>' +

                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Action Error</option>' +
                    '<option>Planning</option>' +
                    '<option>Information Processing Decision Making</option>' +
                    '<option>Attention Perception Monitoring</option>' +
                    '<option>Skill Technique Ability</option>' +
                    '<option>Judgement</option>' +
                    '<option>Knowledge Acquisition Learning</option>' +
                    '<option>Situational Awareness</option>' +
                    '<option>Personality and Attitudes</option>' +
                    '<option>Mental Emotional State</option>' +
                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Prioritization Task Scheduling</option>' +
                    '<option>Timing</option>' +
                    '<option>Task Shedding</option>' +
                    '<option>Task Allocation</option>' +
                    '<option>Other Workload Management</option>' +

                    '</select>' +
                    '</div>' +
                    '<div class="col-md-3">' +
                    '<select class="form-control">' +
                    '<option value="0">Select</option>' +
                    '<option>Experience And Qualifications</option>' +
                    '<option>Recency</option>' +
                    '<option>Knowledge</option>' +
                    '</select>' +
                    '</div>' +
                    '</div>' +
                    '<a href="javascript:void(0);" class="remove_shell" id="' + id[0] + '_' + counter + '">X</a></div>';
              
            }


            $("#"+id[0]+"_section").append(k);
            $("#"+id[0]+"_counter").val(counter);
        });

        $(document.body).on('click', '.remove_shell', function (){
            var file_id = $(this).attr('id').split('_');
            if (file_id[0] && file_id[1]){
                $("#" + file_id[0]+"_"+file_id[1]).remove();
                var old_count = $("#" + file_id[0]+"_counter").val();
                var new_count = parseInt(old_count) - parseInt(1);
                $("#" + file_id[0]+"_counter").val(new_count);
            }
        });    

    });

</script>
<!--testing-->
