/* Responsive */

@media (min-width: 768px) {
  
  }
  @media (min-width: 992px) {
    .top-logo img.big-logo {
      display: block;
    }
    .top-logo img.bird-logo {
      display: none;
    }
    #mainNav.fixed-top .navbar-sidenav {
      height: 100vh;
      }
    /*.content-wrapper {
        margin-left: 230px;
        height: 100%;
    }*/
      #mainNav .navbar-collapse .navbar-sidenav > .nav-item {
        width: 100%;
        padding: 0;
      }
      #createPopup .modal-dialog {
        max-width: 1024px;
        margin: 30px auto;
      }
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-second-level,
      #mainNav.navbar-dark .navbar-collapse .navbar-sidenav > .nav-item .sidenav-third-level {
        background: transparent;
      }
        #mainNav .navbar-brand {
        width: 230px;
        padding: 4px 12px;
      }
      #mainNav .navbar-brand img {
        max-width: 100%;
    }
    .main-user-wrapper {
      margin-top: 15px;
    }
  }
  @media (min-width: 1200px) {
  
  }
  @media only screen and (min-device-width: 768px) and (max-device-width: 991px) {
  
  }
  @media (max-width: 1199px) {
    
  }
  @media (max-width: 991px) {
    #aircrafts_div {
        width: 100%;
        float: left;
    }
    .info-tittle {
        float: initial;
    }
    #mainNav .navbar-collapse .navbar-sidenav > .logo-item {
      display: none;
    }
    .prof {
      margin-right: 20px;
    }
    .navbar-dark .navbar-toggler {
      color: #818485;
      border-color: transparent;
      font-size: 20px;
      line-height: 0;
    }
    .navbar-nav.navbar-sidenav {
        width: 100%;
    }
    .navbar-nav > li {
        float: none;
    }
    .logout-section .navbar-nav > li {
      float: left;
  }
    /*.navbar {
        background-color: #437fb5;
    }*/
    #mainNav.navbar-dark .navbar-collapse .navbar-sidenav {
        /*background-color: #050708;*/
        padding: 0;
        width: 100%;
        height: 100vh;
    }
    .navbar-nav.sidenav-menu.menu_md{
      display: block !important;
    }
    /*.navbar-collapse.collapse.nav_bar {
      display: none !important;
    }*/
    .navbar-collapse.collapse.nav_bar.show {
      display: block;
    }
    /*.top-logo img.big-logo {
      display: none;
    }*/
    .top-logo img.bird-logo {
        display: none;
    }
    body.sidenav-toggled .top-logo img.bird-logo {
        height: 52px;
        padding-left: 0px;
    }
    #mainNav .navbar-collapse .navbar-sidenav {
      margin-top: 0;
    }
    .main-user-wrapper {
      margin-top: 15px;
    }
    .option-tags {
      padding: 0;
      margin-top: 0px;
    }
    .di-notification .form-group .form-control {
      margin-bottom: 15px;
    }
    .di-notification .form-wrapps .form-group .input-group.date .form-control{
      margin-bottom: 0px;
    }
    #uploadFile {
      margin-bottom: 0px;
    }
    .date-list {
      padding: 0px;
    }
    .topper {
        width: 100%;
    }
    #mainNav .navbar-collapse {
        padding: 0;
    }
    #mainNav .navbar-brand img {
        max-width: 100%;
    }
    }
  @media (max-width: 767px) {
    .option-tags {
      padding: 0;
      margin-top: 10px;
    }
    .navbar-nav .open .dropdown-menu {
        position: absolute;
        float: none;
        width: auto;
        background-color: #fff;
        border: 0;
        box-shadow: none;
        box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .logout-section {
        padding: 13px 0px;
        display:none;
    }
    body.sidenav-toggled .logout-section {
        display:block;
    }
    .logout-section .navbar-nav > li > a {
        font-size:12px;
    }
    .logout-section .dropdown-user {
        min-width: 125px;
    }
    ul.dropdown-user {
        padding:0px;
    }
    .dropdown-menu > li > a {
        padding: 5px 15px 5px 15px;
    }
    .loginmodal-container {
        padding: 15px;
        border-radius: 2px;
        overflow: hidden;
        z-index: 100;
        max-width: 350px;
        width: 300px;
        display: flex;
        height: 293px;
        position: initial;
    }
    .logo-title {
        text-align: center;
    }
    .add-aircraft-newbtn .btn{
        width:100%;
    }
    .initial-info {
        width: 100%;
        display: flex;
        margin: 10px 0;
        flex-direction: column;
        justify-content: center;
    }
    }
  @media (max-width: 640px) {
    
  }
  @media (max-width: 480px) {
    /* .loginmodal-container {
      width: 360px;
    } */
    .logo-top {
      padding: 0px 20px 10px;
      width: 100%;
    }
  }
  @media (max-width: 360px) {
    
  }
  @media (max-width: 320px) {
    
  }

  /* iPhone styles */
  @media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px)
  and (-webkit-min-device-pixel-ratio: 2) { 
    
  }
  /* iPhone styles */