﻿@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}


<div class="go-to-link"><p>@ViewBag.Message</p></div>
<button  name="login" class="loginmodal-submit" onclick="location.href='@Url.Action("Index", "Home")'">Go to Login</button>

