﻿@model IEnumerable<ISM_Project.Models.USP_VIEW_USERS_Result>
@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "ListUsers";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div class="row">

            <div class="main-user-wrapper">
                @*<div class="top-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Dashboard", "Home")">Configuration</a></li>
                        <li class="active">Users</li>
                    </ol>
                </div>*@
                <div class="main-wrapper current-project-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Users</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="table-top-items">
                                        <div class="file-items">
                                            @*<a class="excel-tab" href="#"><i class="fa fa-file-excel-o" aria-hidden="true"></i> </a>
                                                <a class="pdf-tab" href="#"><i class="fa fa-file-pdf-o" aria-hidden="true"></i></a>
                                                <a class="print-tab" href="#"><i class="fa fa-print" aria-hidden="true"></i></a>*@
                                        </div>
                                        <div class="add-new">
                                            <button class="create-new" onclick="location.href='@Url.Action("AddUser", "User")'"><i class="fa fa-plus" aria-hidden="true"></i>Create New</button>
                                        </div>
                                    </div>
                                    <div class="table-responsive">
                                        <table id="datatable" class="table table-responsive">
                                            <!-- need pagination table -->
                                            <thead>
                                                <tr>
                                                    <th>#</th>
                                                    <th>Name</th>
                                                    <th>User ID</th>
                                                    <th>Role</th>
                                                    <th>Email</th>
                                                    <th>Phone</th>
                                                    <th>Status</th>
                                                    <th>Action</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @{int i = 0;}
                                                @foreach (var item in Model)
                                                {
                                                    i += 1;
                                                    <tr>
                                                        <td>
                                                            @i
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.first_name) @Html.DisplayFor(modelItem => item.last_name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.user_id)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.role_name)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.email)
                                                        </td>
                                                        <td>
                                                            @Html.DisplayFor(modelItem => item.phone)
                                                        </td>
                                                        <td>
                                                            @if (item.is_active.ToString() == "True")
                                                            {
                                                                <span>Active</span>
                                                            }
                                                            else
                                                            {
                                                                <span>In-Active</span>
                                                            }
                                                        </td>
                                                        <td>
                                                            <div class="pro-view">
                                                                <span class="edit-e"><a href="@Url.Action("AddUser", "User", new { id=item.user_id })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                                                <span class="delete-d"><a href="@Url.Action("Delete", "User", new { id=item.user_id })"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                            </div>
                                                        </td>

                                                    </tr>
                                                }
                                                @*<tr>
                                                        <td>1</td>
                                                        <td>Donna Snider</td>
                                                        <td>Customer Support</td>
                                                        <td>test</td>
                                                        <td>Donna Snider</td>
                                                        <td>Customer Support</td>
                                                        <td>test</td>

                                                        <td>
                                                            <div class="pro-view">
                                                                <span class="edit-e"><a href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                                                <span class="delete-d"><a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                            </div>
                                                        </td>
                                                    </tr>*@

                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

