﻿@model ISM_Project.Models.ResetPasswordModel
@{
    ViewBag.Title = "ResetPassword";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

@using (Html.BeginForm("ResetPassword", "User", FormMethod.Post))
{
   

    <div class="text-danger">
        @ViewBag.Message
    </div>

    @Html.PasswordFor(m => m.NewPassword, new { @placeholder = "New Password", required = "required" })


    @Html.PasswordFor(m => m.ConfirmPassword, new { @placeholder = "Confirm Password", required = "required" })


    @Html.HiddenFor(m => m.ResetCode)

    <div class="login-help">
    </div>
    <button type="submit" name="login" class="loginmodal-submit">Reset</button>

}


