﻿@model ISM_Project.Models.LKAirlineOperator
@{
    ViewBag.Title = "AddAirOperatorName";
    // Layout = "~/Views/Shared/_Layout.cshtml";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">&times;</button>
    <div class="modal-title">
        <h2>Add Airline Operator</h2>
    </div>
</div>

<div class="modal-body" id="Airline_Operator">
    <small id="emailHelp" class="form-text popup_danger"></small>
    @using (Html.BeginForm("AddAirOperatorName", "DI", FormMethod.Post, new { id = "frm_AddAirOperatorName" }))
    {
        <div class="closeinvestigation-wrapp">
            <div class="closeinvestigation-inner create-user-table">
                <form>
                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Airline Operator Name <span class="text-danger">*</span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextBoxFor(m => m.LKAirlineOperatorName, new { @type = "text", @class = "form-control", @style = "margin-bottom:10px" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                            Airline Operator Description <span class="text-danger"></span>
                        </label>
                        <div class="col-sm-8 col-form-box">
                            @Html.TextAreaFor(m => m.LKAirlineOperatorDescription, new { @type = "text", @class = "form-control" })
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal-footer">            
            <button type="button" class="btn btn-save" onclick="SaveAirlineOperatorName()">Save</button>
        </div>
    }
</div>

