﻿@model ISM_Project.Models.InvEvidence
@{
    ViewBag.Title = "AddNewEvidence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="inner-wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle occurrence-top">
                                            <h2>Evidence Management</h2>
                                        </div>
                                        <form>
                                            <div class="scope-details">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Notifier Name:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Model.NotifierName</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                UTC Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                            </div>
                                                        </div>

                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Notifier Organization:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Model.NotifierOrganization</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Local Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>

                                </div>
                                @using (Html.BeginForm("AddNewEvidence", "Task", FormMethod.Post, new { id = "frm_Evidence", enctype = "multipart/form-data" }))
                                {
                                    @Html.HiddenFor(m => m.InvestigationFileID, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.EvidenceIdentificationNumber, new { @type = "text", @class = "form-control hidden" })
                                    @Html.HiddenFor(m => m.InvestigationEvidenceID, new { @type = "text", @class = "form-control hidden" })
                                    <div class="col-md-12 col-sm-12 col-xs-12">
                                        <div class="row">

                                            <div class="tab-content ">
                                                <div class="tab-pane active">
                                                    <div class="x_panel">
                                                        <div class="x_content create-user-table form-69-wrapper">
                                                            <div class="info-tittle">
                                                                <h2>Evidence Details</h2>
                                                            </div>
                                                            <form>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                                        Evidence Identification # <span class="text-danger"></span>
                                                                    </label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <label id="EvidenceIdentificationNumber"><b>@Model.EvidenceIdentificationNumber</b></label>
                                                                        <input type="hidden" name="EvidenceIdentificationNumber" value="@Model.EvidenceIdentificationNumber" />
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                                        Part Number<span class="text-danger"></span>
                                                                    </label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(m => m.EvidencePartNumber, new { @placeholder = "Evidence Part Number", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                                        Serial Number<span class="text-danger"></span>
                                                                    </label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(m => m.EvidenceSerialNumber, new { @placeholder = "Evidence Serial Number", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Category<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.DropDownListFor(m => m.LKEvidenceCategoryID, ViewBag.Evidence_Category as SelectList, "Select", new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group" style="display: none;">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Type<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.DropDownListFor(m => m.LKEvidenceTypeID, ViewBag.Evidence_Type as SelectList, new { @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Name<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(m => m.EvidenceName, new { @placeholder = "Blackbox,Voice recorder,etc", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Manufacturer<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(m => m.EvidenceManufacturer, new { @placeholder = "Blackbox,Voice recorder,etc", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Evidence Description<span class="text-danger"></span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextAreaFor(m => m.EvidenceDescription, new { @placeholder = "Evidence Description", @type = "text", @class = "form-control", @style = "height: inherit" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Received From<span class="text-danger"></span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(m => m.PersonHandingOverEvidence, new { @placeholder = "Name of the person handing over evidence ", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Owner (Organization) Name <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(m => m.OrganizationHandingOverEvidence, new { @placeholder = "Organization handing over the evidence", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Date Of Receipt<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <div type="date" class="input-group date_only_nofuture">
                                                                            <input type="text" id="DateOfReceipt" class="form-control" name="DateOfReceipt" value="@ViewBag.DateOfReceipt">
                                                                            <span class="input-group-addon">
                                                                                <span class="glyphicon glyphicon-calendar"></span>
                                                                            </span>
                                                                        </div>
                                                                        <small id="emailHelp" class="form-text text-muted"></small>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Evidence Received By <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(m => m.PersonReceivingEvidence, new { @placeholder = "Name of the person receiving evidence", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Location Of Storage<span class="text-danger"></span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(m => m.LocationOfStorage, new { @placeholder = "Location where evidence will be stored", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Custodian Of The Evidence<span class="text-danger"></span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(m => m.CustodianOfEvidence, new { @placeholder = "Custodian of the evidence", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Evidence Tags<span class="text-danger"></span></label>
                                                                    <div class="col-sm-8 col-form-box">

                                                                        @Html.TextBoxFor(a => a.EvidenceTags, new { @placeholder = "Evidence Tags", @class = "form-control", @type = "text", @data_role = "tagsinput" })


                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Evidence Currently With<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">



                                                                        @Html.DropDownListFor(m => m.EvidenceCurrentlyWith, ViewBag.Evid_CurrentlyWith as SelectList, "Select", new { @class = "form-control" })

                                                                    </div>
                                                                </div>


                                                                @if (ViewBag.edit.ToString() == "1")
                                                                {
                                                                    <div class="info-tittle">
                                                                        <h2>Evidence Movement</h2>
                                                                    </div>
                                                                    <div class="main-wrapper current-project-wrapper">
                                                                        <div class="col-md-12 col-sm-12 col-xs-12">
                                                                            <div class="row">
                                                                                <div class="x_panel-corres">
                                                                                    <div class="x_content">
                                                                                        <div class="table-tittle">

                                                                                        </div>
                                                                                        <div class="table-responsive table-top">
                                                                                            <table id="datatable" class="table table-bordered table-hover table-responsive correspondance-table">
                                                                                                <!-- need pagination table -->
                                                                                                <thead>
                                                                                                    <tr>

                                                                                                        <th>Date</th>
                                                                                                        <th>Movement Type</th>
                                                                                                        <th>Person Handed Over To</th>
                                                                                                        <th>Department Handed Over To</th>
                                                                                                        <th>Evidence Current Location</th>
                                                                                                        <th>Person Handed Over By</th>
                                                                                                        <th>Organization Handed Over By</th>
                                                                                                        <th>Action</th>
                                                                                                    </tr>
                                                                                                </thead>
                                                                                                <tbody>
                                                                                                    @{int i = 1;}
                                                                                                    @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_EVIDENCE_MOVEMENTS_Result movement in ViewBag.evedence_Movements)
                                                                                                    {
                                                                                                    <tr>

                                                                                                        <td>@movement.DateOfMovement.ToString("dd/MMM/yyyy")</td>
                                                                                                        <td>@movement.LKEvidenceTypeName</td>
                                                                                                        <td>@movement.PersonReceivingEvidence</td>
                                                                                                        <td>@movement.OrganizationReceivingEvidence</td>
                                                                                                        <td>@movement.CustodianOfEvidence </td>
                                                                                                        <td>@movement.PersonHandingOverEvidence </td>
                                                                                                        <td>@movement.OrganizationHandingOverEvidence </td>
                                                                                                        <td>
                                                                                                            <a href="" class="fas fa-edit EditMove" id="EditMovements_@movement.InvestigationEvidenceMovementID" data-iic="@movement.InvestigationEvidenceMovementID" data-toggle="modal" title="Edit"></a>
                                                                                                        </td>
                                                                                                    </tr>
                                                                                                        i++;
                                                                                                    }
                                                                                                </tbody>
                                                                                            </table>
                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    <div class="create-user-table">
                                                                        @if (Convert.ToInt32(Session["roleid"]) == 4 && Convert.ToInt32(TempData["INV_STATUS"]) != 2 || Convert.ToInt32(Session["roleid"]) == 7)
                                                                        {
                                                                            <div class="create-bottom-btn occ-new">
                                                                                <button type="button" class="btn btn-addnew" id="addmovements" data-iic="@Model.InvestigationEvidenceMovementID" data-toggle="modal"> <i class="fas fa-plus"></i> Add Movement</button>
                                                                            </div>
                                                                        }
                                                                    </div>
                                                                }
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="x_panel doc-file-tag-wr">
                                                <h2>Attachments</h2>
                                                <div class="form-group">
                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1"><span class="text-danger"></span></label>
                                                    <div class="col-sm-7 no-padding">
                                                        <div class="form-group attachments-tag">
                                                            <div class="input-group tag-bottom">
                                                                <input id="uploadFile_0" class="form-control" placeholder="Choose File">
                                                                <div class="input-group-btn">
                                                                    <div id="FileUpload_0" class="fileUpload btn btn-success">
                                                                        <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                        <input id="uploadBtn_0" type="file" name="EvidenceFiles[]" class="upload EvidenceFileUpload EveFileupload" required="required">
                                                                        <input type="hidden" id="hdnVal_0" class="hdnfile" />
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <label class="cur" id="evi_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                                    </div>
                                                    <div id="DynamicArea" class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attached Documents : <span class="text-danger"></span></label>
                                                        <div class="col-sm-8 no-padding">
                                                            @foreach (ISM_Project.Models.USP_VIEW_INVESTIGATION_EVIDENCE_ATTACHMENTFILE_Result atta in ViewBag.Attached_Files)
                                                            {
                                                                <a href="@atta.AttachmentOriginalUrl.ToString()" id="file_@atta.EvidenceDocumentsAsAttachmentId" target="_blank">@atta.AttachmentPublicUrl.ToString().Split('/').Last() </a>

                                                                if (Convert.ToInt32(Session["roleid"]) == 4 && Convert.ToInt32(TempData["INV_STATUS"]) != 2 || Convert.ToInt32(Session["roleid"]) == 7)
                                                                {
                                                                <a href="#" id="attach_@atta.EvidenceDocumentsAsAttachmentId" class="remove_Evidenceattachment">Delete</a>
                                                                }

                                                                <br />
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                                @if (Convert.ToInt32(Session["roleid"]) == 4 && Convert.ToInt32(TempData["INV_STATUS"]) != 2 || Convert.ToInt32(Session["roleid"]) == 7)
                                                {

                                                    <div class="create-bottom-btn">

                                                        <button type="button" class="btn btn-save" id="BtnAddNewEvidence" onclick="SaveEvidenceWithAttachments('upload','hdnfile','frm_Evidence');">Save and Update</button>
                                                    </div>
                                                }

                                            </div>

                                        </div>
                                    </div>
                                }
                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add New Evidence Movement popup -->


<div id="Eve_Movements" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
    <div class="modal-dialog" style="width:75%">

        <!-- Modal content-->
        <div class="modal-content" id="Movements_data">

            <div class="modal-footer">

                <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>
<link href="~/css/bootstrap-tagsinput.css" rel="stylesheet" />