﻿@model IEnumerable<ISM_Project.Models.USP_VIEW_TASKS_Result>
@{
    if (Session["username"] == null)
    {
        Response.Redirect("~/Home/Index");
    }
    ViewBag.Title = "ListTasks";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="col-md-12">
        <div class="row">

            <div class="main-user-wrapper">
                <div class="top-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="@Url.Action("Dashboard", "Home")">Configuration</a></li>
                        <li class="active">Tasks</li>
                    </ol>
                </div>
                <div class="main-wrapper current-project-wrapper">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="row">
                            <div class="x_panel">
                                <div class="x_title">
                                    <h2>Tasks</h2>
                                    <div class="clearfix"></div>
                                </div>
                                <div class="x_content">
                                    <div class="table-top-items">
                                        <div class="file-items">
                                        
                                        </div>
                                        <div class="add-new">
                                            <button class="create-new" onclick="location.href='@Url.Action("AddTasks", "Task")'"><i class="fa fa-plus" aria-hidden="true"></i>Create New</button>
                                        </div>
                                    </div>
                                    <table id="datatable" class="table table-responsive">
                                        <!-- need pagination table -->
                                        <thead>
                                            <tr>
                                                <th>#</th>
                                                <th>TaskName</th>
                                                <th>TaskGroup</th>
                                                <th>Conducted By</th>
                                                <th>EstimatedTime</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @{int i = 0;}
                                            @foreach (var item in Model)
                                            {
                                                i += 1;
                                                <tr>
                                                    <td>
                                                        @i
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.taskname)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.taskgroupname)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.role_name)
                                                    </td>
                                                    <td>
                                                        @Html.DisplayFor(modelItem => item.estimatedcompletiontime)
                                                    </td>
                                                    <td>
                                                        <div class="pro-view">
                                                            <span class="edit-e"><a href="@Url.Action("AddTasks", "Task", new { id=item.taskid })"><i class="fa fa-pencil-square-o" aria-hidden="true"></i></a></span>
                                                            <span class="delete-d"><a href="@Url.Action("Delete", "Task", new { id=item.taskid })"><i class="fa fa-trash-o" aria-hidden="true"></i></a></span>
                                                        </div>
                                                    </td>

                                                </tr>
                                            }
                                        

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

