﻿
@model ISM_Project.Models.InvScope
@{
    ViewBag.Title = "TaskGroup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">

                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Task Group Details</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierName</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>

                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Model.NotifierOrganization </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">@Convert.ToDateTime(@Model.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy hh:mm")</label>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Task Groups: @Model.InvestigationTaskGroupName</h2>
                                            @Html.HiddenFor(m => m.ControlFrom, new { @type = "text", @class = "form-control hidden" })
                                            <input type="hidden" id="InvFileId" value="@Model.InvestigationId" />

                                        </div>
                                        <div class="task-group-tag">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <div class="row">
                                                        @if (ViewBag.NewgroupEvents == null)
                                                        {

                                                            foreach (ISM_Project.Models.USP_VIEW_MULTIPLE_TASKGROUPEVENTS_Result events in ViewBag.groupEvents)
                                                            // foreach (ISM_Project.Models.USP_VIEW_TASKGROUPEVENTS_Result events in ViewBag.groupEvents)
                                                            {
                                                                <div class="col-md-3">
                                                                    <div class="card-new">
                                                                        <div class="card-new-inner">
                                                                            <div class="event-tag"><h3>@events.InvestigationTaskGroupEventName </h3></div>
                                                                            <div class="card-top">
                                                                                <div class="card-tittle">
                                                                                    <h5>@events.InvestigationTaskGroupEventDescription</h5>
                                                                                </div>
                                                                            </div>
                                                                            <div class="inner-assign">
                                                                                <div class="ai assign-inner">
                                                                                    <h4>Assigned To</h4>
                                                                                    @*<label class="status-val">@events.FirstName</label>*@

                                                                                    @if (@events.FirstName != null)
                                                                                    {
                                                                                        <a href="javascript:void(0);" class="assigned_members" id="@events.InvestigationTaskGroupEventID">Show</a>
                                                                                    }
                                                                                </div>
                                                                                <div class="ai assign-inner">
                                                                                    <h4>Status</h4>
                                                                                    @if (events.InvestigationTaskStatus == 1)
                                                                                    {
                                                                                        <label class="status-val not-started">Completed</label>
                                                                                    }
                                                                                    else if (events.FirstName != null)
                                                                                    {
                                                                                        <label class="status-val not-started">In Progress</label>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <label class="status-val not-started">Unassigned</label>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="adding-re-btn">
                                                                                @if (Convert.ToInt32(Session["roleid"]) == 4 && Convert.ToInt32(TempData["INV_STATUS"]) != 2)
                                                                                {
                                                                                    if (events.InvestigationTaskStatus == 1)
                                                                                    {

                                                                                    }
                                                                                    else if (events.FirstName != null)
                                                                                    {
                                                                                        string EventUniqueNumber = events.InvestigationTaskGroupEventUniqueNumber;

                                                                                        if ((EventUniqueNumber != "E1") && (EventUniqueNumber != "E66"))
                                                                                        {
                                                                                            <a href="@Url.Action("Assigning_team_members_Removal", "Task", new { id = events.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "TG" })">
                                                                                                <button type="button" class="btn assign-btn">Re-Assign</button>
                                                                                            </a>
                                                                                        }
                                                                                        <a href="@Url.Action("ChangeCompletionDate", "Task", new { id = events.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "TG" })" data-toggle="tooltip" title="Change Completion Date"><i class="fas fa-calendar" aria-hidden="true"></i></a>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        @*<a href="@Url.Action("Assigning_team_members", "Task", new { id = events.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "TG" })"><button type="button" class="btn assign-btn">Assign Now</button></a>*@
                                                                                        <a href="" id="@events.InvestigationTaskGroupEventID" class="tm_assign">Assign Now</a>

                                                                                    }
                                                                                    @*<button type="button" class="btn assign-btn"></button>*@
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>

                                                            }
                                                        }
                                                        else
                                                        {

                                                            foreach (ISM_Project.Models.USP_VIEW_TASKGROUPEVENTS_FOR_NEW_INVESTIGATIONGROUPEVENTS_Result events in ViewBag.NewgroupEvents)
                                                            {

                                                                <div class="col-md-3">
                                                                    <div class="card-new">
                                                                        <div class="card-new-inner">
                                                                            <div class="event-tag"><h3>@events.InvestigationTaskGroupEventName </h3></div>
                                                                            <div class="card-top">
                                                                                <div class="card-tittle">
                                                                                    <h5>@events.InvestigationTaskGroupEventDescription</h5>
                                                                                </div>
                                                                            </div>
                                                                            <div class="inner-assign">
                                                                                <div class="ai assign-inner">
                                                                                    <h4>Assigned To</h4>
                                                                                    <label class="status-val">@events.FirstName</label>
                                                                                    <a data-toggle="modal" href="#show_assigned">Show</a>
                                                                                </div>
                                                                                <div class="ai assign-inner">
                                                                                    <h4>Status</h4>
                                                                                    @if (events.InvestigationTaskStatus == 1)
                                                                                    {
                                                                                        <label class="status-val not-started">Completed</label>
                                                                                    }
                                                                                    else if (events.FirstName != null)
                                                                                    {
                                                                                        <label class="status-val not-started">In Progress</label>
                                                                                    }
                                                                                    else
                                                                                    {
                                                                                        <label class="status-val not-started">Unassigned</label>
                                                                                    }
                                                                                </div>
                                                                            </div>
                                                                            <div class="adding-re-btn">
                                                                                @if (Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 7 && Convert.ToInt32(TempData["INV_STATUS"]) != 2)
                                                                                {
                                                                                    if (events.InvestigationTaskStatus == 1)
                                                                                    {

                                                                                    }
                                                                                    else if (events.FirstName != null)
                                                                                    {
                                                                                        <a href="@Url.Action("Assigning_team_members_Removal", "Task", new { id = events.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "TG" })"><button type="button" class="btn assign-btn">Re-Assign</button></a>
                                                                                        <a href="@Url.Action("ChangeCompletionDate", "Task", new { id = events.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "TG" })"><button type="button" class="btn assign-btn">Change Completion Date</button></a>
                                                                                    }

                                                                                    else
                                                                                    {
                                                                                        @*<a href="@Url.Action("Assigning_team_members", "Task", new { id = events.InvestigationTaskGroupEventID, invid = Model.InvestigationId, CtrlFrom = "TG" })"><button type="button" class="btn assign-btn">Assign Now</button></a>*@
                                                                                        <a href="" id="@events.InvestigationTaskGroupEventID" class="tm_assign">Assign Now</a>
                                                                                    }
                                                                                    <button type="button" class="btn assign-btn"></button>
                                                                                }
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>


                                                            }
                                                        }


                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                    <div>
                                    </div>
                                </div>
                                <!-- sumitted form btns -->
                                <!-- sumitted form btns -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="show_assigned" class="modal fade incharge-popup general_modal" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" style="width:50%">
            <!-- Modal content-->
            <div class="modal-content" id="show_assignedMembers">
                <div class="modal-header">
                    <div class="modal-title">
                        <h2>Members</h2>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="incharge-wrapp">
                        <ol id="assg_member"></ol>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-close" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
</div>