﻿@model ISM_Project.Models.teammanagement
@{
    ViewBag.Title = "Teammanagement";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">

                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Team Management</h2>
                                        </div>
                                        @if (Model != null)
                                        {
                                            foreach (var Investigation in Model.Inv_team)
                                            {
                                                <form>
                                                    <div class="row scope-details">
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Notifier Name:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">@Investigation.NotifierName</label>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                        UTC Date & Time of Occurrence:
                                                                    </label>
                                                                    <div class="col-sm-6 col-form-box">
                                                                        <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(Investigation.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(Investigation.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                                    </div>
                                                                </div>



                                                            </div>

                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Notifier Organization:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">@Investigation.NotifierOrganization</label>
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Local Date & Time of Occurrence:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    <label class="form-values">@(!string.IsNullOrEmpty(Convert.ToString(Investigation.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(Investigation.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A")</label>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </div>
                                                </form>

                                            }
                                        }
                                    </div>
                                </div>
                                <div class="clearfix"></div>

                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Assign Team Members</h2>
                                        </div>

                                        <div class="task-swipe-table">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="multi-tab"><h3>Investigation Team Members </h3></div>
                                                    <div class="col-form-box no-padding">

                                                        @using (Html.BeginForm("Teammanagement", "task", FormMethod.Post, new { id = "team_management" }))
                                                        {
                                                            <input type="hidden" name="invfile" id="inv_file" value="@ViewBag.invfile" />
                                                            <table class="table table-bordered table-hover" id="firsttable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        @*<th>Investigation Role</th>*@
                                                                        <th>Current Cases</th>
                                                                        <th>Current Tasks</th>
                                                                        @if ((Convert.ToInt32(Session["roleid"]) == 3) && (Convert.ToInt32(TempData["INV_STATUS"]) != 2))
                                                                        {
                                                                            <th>Select</th>
                                                                        }
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @if (true)
                                                                    {
                                                                        int i = 0;
                                                                        foreach (var item in Model.assignteammembers)
                                                                        {
                                                                            <tr>
                                                                                <td>
                                                                                    <label class="form-values"><a href="" class="teammember_profile dashboardlink" data-iic="@Html.DisplayFor(ModelItem => item.UserID)" data-toggle="modal" title="@item.FirstName @item.MiddleName @item.LastName">    @Html.DisplayFor(o => item.FirstName)</a></label>

                                                                                    @Html.Hidden("UserID[]", item.UserID)
                                                                                    @*<input type="hidden" name="iUserID[]" value="@item.UserID" />*@
                                                                                </td>
                                                                                @*<td>@Html.DisplayFor(o => o.assignteammembers[i].LKUserRoleName)</td>*@
                                                                                <td>@Html.DisplayFor(o => o.assignteammembers[i].noofcases)</td>
                                                                                <td>@Html.DisplayFor(o => o.assignteammembers[i].NoofEvents)</td>
                                                                                @if ((Convert.ToInt32(Session["roleid"]) == 3) && (Convert.ToInt32(TempData["INV_STATUS"]) != 2))
                                                                                {
                                                                                    <td><input type='checkbox' class='checkbox-dynamic team-pool' name='case' value="@item.UserID" /></td>
                                                                                }
                                                                            </tr>
                                                                            i++;
                                                                        }
                                                                    }
                                                                </tbody>
                                                            </table>
                                                        }
                                                    </div>
                                                </div>
                                                @if ((Convert.ToInt32(Session["roleid"]) == 3 || Convert.ToInt32(Session["roleid"]) == 6) && (Convert.ToInt32(TempData["INV_STATUS"]) != 2))
                                                {
                                                    <div class="col-md-2 swipe-btn">
                                                        <button type="button" class="btn btn-above" id="above"><i class="fas fa-chevron-left"></i></button>
                                                        <button type="button" class="btn btn-below" id="below"><i class="fas fa-chevron-right"></i></button>
                                                    </div>
                                                }
                                                @if (Convert.ToInt32(Session["roleid"]) == 3 || Convert.ToInt32(Session["roleid"]) == 6)
                                                {
                                                    <div class="col-md-5">
                                                        <div class="multi-tab"><h3>AAIS Investigators</h3></div>
                                                        <div class="col-form-box">

                                                            <table class="table table-bordered table-hover" id="secondtable">
                                                                <thead>
                                                                    <tr>
                                                                        <th>Name</th>
                                                                        @*<th>Investigation Role</th>*@
                                                                        <th>Current Cases</th>
                                                                        <th>Current Tasks</th>
                                                                        @if ((Convert.ToInt32(Session["roleid"]) == 3) && (Convert.ToInt32(TempData["INV_STATUS"]) != 2))
    {
                                                                    <th>Select</th>
}
                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    @foreach (var accid in Model.accidteammembers)
                                                                    {
                                                                    <tr>
                                                                        <td>
                                                                            <label class="form-values">
                                                                                <a href="" class="teammember_profile dashboardlink" data-iic="@Html.DisplayFor(ModelItem => accid.UserID)" data-toggle="modal" title="@accid.FirstName @accid.MiddleName @accid.LastName"> @accid.FirstName</a>
                                                                            </label>
                                                                            <input type="hidden" name="UserID[]" value="@accid.UserID" />
                                                                        </td>
                                                                        @*<td>
            @accid.LKUserRoleName

        </td>*@
                                                                        <td>@accid.noofcases</td>
                                                                        <td>@accid.noofevents</td>
                                                                        @if ((Convert.ToInt32(Session["roleid"]) == 3) && (Convert.ToInt32(TempData["INV_STATUS"]) != 2))
    {
                                                                    <td><input type='checkbox' class='checkbox-dynamic' value="@accid.UserID" name='case' /></td>
}

                                                                    </tr>

                                                                    }
                                                                </tbody>

                                                            </table>
                                                        </div>

                                                        <div>
                                                        </div>
                                                    </div>
                                                }
                                                @if (Convert.ToInt32(Session["roleid"]) == 3 && (Convert.ToInt32(TempData["INV_STATUS"]) != 2))
                                                {
                                                    <div class="col-md-12 create-bottom-btn" id="button_save">
                                                        <button type="button" class="btn btn-save" id="add_team_member">Save Changes </button>
                                                    </div>
                                                }


                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div id="teammember_profile_assigned_popup" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" style="width:75%">

                <!-- Modal content-->
                <div class="modal-content" id="profile_data">
                    <div class="modal-footer">

                        <button type="submit" class="btn btn-cancel" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>
        <div class="modal fade" id="remove_tm_notify" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <div class="modal-title"><h4>Remove Team Member Confirmation</h4></div>
                    </div>
                    <div class="modal-body">
                        <p style="font-weight:bold;"> Selected team member has some tasks assigned to him, once removed those tasks status will become unassigned.</p>
                        <p>
                            If you still want to remove him, please enter the removal reason in below area and click confirm.
                        </p>
                        <input type="hidden" name="invfile" id="inv_file" value="@ViewBag.invfile" />
                        <input type="hidden" id="rm_user" value="" />
                        @Html.TextAreaFor(m => m.rem_reason, new { @class = "form-control remove-textarea" })
                    </div>
                    <div class="modal-footer">
                        <button type="button" id="popupbutton" class="btn btn-success">Confirm</button>
                        <button type="button" class="btn btn-default" onclick="location.href = '@Url.Action("teammanagement", "task")'">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
