﻿@model ISM_Project.Models.UserModel
@{
    ViewBag.Title = "New_SR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                   
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle-remove">
                                            @if (ViewBag.mode != null)
                                            {
                                                if (ViewBag.mode == "view" || ViewBag.mode == "view_corres")
                                                {

                                                    <div class="info-tittle SR-app-status">
                                                        <h2>SR Approved by DAAI</h2>
                                                        <p class="occ-status"></p>
                                                    </div>
                                                }
                                            }
                                      

                                        </div>

                                        <div class="x_content form-create-user-table">

                                            <div class="scope-details">
                                                <div class="row">
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                AAI Case ID:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">AIFN/0001/2018</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                UTC Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">27-01-2017 09:45</label>
                                                            </div>
                                                        </div>
                                                     

                                                    </div>
                                                    <div class="col-md-6">

                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Investigator-in-charge:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">Yusuf Khan</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Local Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">27-01-2018 09:45</label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>



                                        </div>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>AWN 8932 Accident Safety Recommendation</h2>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        SR Identification no:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">SRNA04/2018</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        Prepared by:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">Yusuf Siddique</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        Place:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">Dubai</label>
                                                    </div>
                                                </div>
                                                <div class="form-group">
                                                    <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                        Date of creation:
                                                    </label>
                                                    <div class="col-sm-6 col-form-box">
                                                        <label class="form-values">27-01-2017 09:45</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class=" scope-details-editor">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="form-group">



                                                            <textarea class="SR-actions" style="word-break: break-all;line-height: normal;">
                                                            <h3>What Happened?</h3>

                                                            <p> A Qatar Airways Airbus A350-900, registration A7-AMB performing flight QR-59 from Doha (Qatar) to Munich (Germany), was descending towards Munich
       when the crew reported a hydraulic failure and advised they would probably need to stop on the runway being unable to taxi. The airport dispatched
       emergency services and a tow truck to the runway. The aircraft continued for a safe landing, gear doors open, on runway 26L. The crew advised they were
       indeed not able to vacate the runway, the tow crew advised they were unable to tow the aircraft due to the open gear doors that needed to first be taken care of,
       maintenance was on their way to do so. The aircraft was towed off the runway about 20 minutes after landing.</p>

                                                            <p>The Occurrence aircraft is estimated to be able to depart for the return flight with a delay of 7 hours (after about 10 hours ground time).</p>

                                                            <h3>Basis for Recommendation</h3>

                                                            <p>This caused substantial damage (including a 46cm tear in the fuselage and 90 dents and scratches), though as it turns out the pilots didn’t realize they had struck anything, so they continued flying to Doha. It’s extremely fortunate that the plane landed without incident, as things could have ended much worse</p>

                                                            <ul>
                                                            <h3>Recommended Actions</h3>
                                                            <li> 1.Review of plane components</li>
                                                            <li> 2.Removal of destruction causing components</li>
                                                            <li> 3.Frequent Inspections</li>
                                                            <li> 4.Improve quality of inspection methods</li>
                                                    </ul>
</textarea>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="col-md-12 safety-content">
                                                <div class="row">

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="x_panel">
                                <div class="x_content form-create-user-table">

                                    <div class="scope-details">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="info-tittle">
                                                    <h2>Change History</h2>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-12 table-top">

                                                       

                                                        <div class="table-responsive">
                                                            <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                <!-- need pagination table -->
                                                                <thead>
                                                                    <tr>
                                                                        <th>#</th>
                                                                        <th>Date Updated</th>
                                                                        <th>Updated By</th>
                                                                        <th>Reason</th>


                                                                    </tr>
                                                                </thead>
                                                                <tbody>
                                                                    <tr>
                                                                        <td>1</td>
                                                                        <td><a href="#">12/06/2017</a></td>
                                                                        <td>Hafiz Siddique(IIC)</td>
                                                                        <td>Review Comments by DAAI</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td><a href="#">12/06/2018</a></td>
                                                                        <td>Hafiz Siddique(IIC)</td>
                                                                        <td>Comments From Review Meeting Held on 12/06/2017</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td>2</td>
                                                                        <td><a href="#">12/06/2018</a></td>
                                                                        <td>Hafiz Siddique(IIC)</td>
                                                                        <td>Review Comments by DAAI</td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="create-bottom-btn">
                                    @if (ViewBag.mode != null)
                                    {
                                        @*if (ViewBag.mode == "new")
                                                        {
                                                                                            <button type="submit" class="btn btn-cancel" data-target="#myModal" data-toggle="modal" disabled>Send to External Stakeholders</button>
                                                                                            <button type="submit" class="btn btn-save" data-target="#myModal" data-toggle="modal" onclick="location.href='@Url.Action("SR_View", "SR")'">Submit for DAAI Approval</button>
                                            }
                                            if (ViewBag.mode == "view")
                                            {
                                                                                            <button type="submit" class="btn btn-cancel" data-target="#myModal" data-toggle="modal" onclick="location.href='@Url.Action("SR_Correspondence", "SR",new { mode="new"})'">Send to External Stakeholders</button>
                                                                                            <button type="submit" class="btn btn-save" data-target="#myModal" data-toggle="modal" onclick="location.href='@Url.Action("SR_View", "SR")'" disabled>Submit for DAAI Approval</button>
                                            }
                                            if (ViewBag.mode == "view_corres")
                                            {
                                                                                            <button type="submit" class="btn btn-cancel" data-target="#myModal" data-toggle="modal" onclick="location.href='@Url.Action("SR_Correspondence", "SR",new { mode="view"})'">View Correspondence Thread</button>
                                                                                            <button type="submit" class="btn btn-save" data-target="#myModal" data-toggle="modal" onclick="location.href='@Url.Action("SR_View", "SR")'" disabled>Save And Update</button>
                                            }*@
                                    }
                                    @*<button type="submit" class="btn btn-save" data-target="#myModal" data-toggle="modal" onclick="#incharge-popup">Save And Update</button>*@
                                    <a href="#" class="btn btn-save " data-target="#incharge-popup" data-toggle="modal">Save And Update</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






    <div id="incharge-popup" class="modal fade incharge-popup" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" style="width:50%;margin: 0 auto; position: initial; ">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="modal-title">
                        <h2>Safety Recommendation Update</h2>
                    </div>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="incharge-wrapp">
                        <div class="row">
                            <div class="col-md-12"><h4>SR Identification No:SRNA03/2017</h4></div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3"><label>Date Updated</label></div>
                                <div class="col-md-9">
                                    <div class="certi-details">
                                        <div class="col-form-box">
                                            <div class='input-group date_only'>
                                                <input type="text" class="form-control" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group">
                                <div class="col-md-3"><label>Reason for Update</label></div>
                                <div class="col-md-9">
                                    <div class="certi-details">
                                        <textarea rows="6" name="message2" id="message2" class="form-control form-textarea" required=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


              
                <div class="modal-footer">

                    <button type="submit" class="btn btn-save" data-dismiss="modal">Save</button>
                </div>
            </div>

        </div>
        <script src="~/Scripts/jquery.min.js"></script>
        <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
        <script>
            $(document).ready(function () {
                tinymce.init({
                    selector: '.SR-actions',
                    //selector: '.form-textarea',
                    body_class: 'my_class',
                    content_css: 'style.css',

                    plugins: [
                        "code", "image", "link"
                    ], extended_valid_elements: "ol[start|type]"
                });
            });
        </script>

