﻿@model ISM_Project.Models.UserModel
@{
    ViewBag.Title = "SR_Correspondence";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                 
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle occurrence-top" style="display:block">
                                            <h2>Correspondence Management</h2>
                                        </div>
                                        <form>
                                            <div class="row scope-details">
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Name:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">ABC</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            UTC Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">27-01-2017 09:45</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Flight Number:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">AWN 8932</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Departure Airport:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">Mumbai</label>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Notifier Organization:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">XXXX</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Local Date & Time of Occurrence:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">27-01-2017 09:45</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Place:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">Dubai</label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                            Destination Airport:
                                                        </label>
                                                        <div class="col-sm-6 col-form-box">
                                                            <label class="form-values">Dubai</label>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="clearfix"></div>




                                </div>
                                <div class="col-md-12 col-sm-12 col-xs-12">
                                    <div class="row">
                                        <div id="exTab2" class="">
                                            <div class="tab-content ">
                                                <div class="tab-pane active">
                                                    <div class="x_panel">
                                                        <div class="x_content create-user-table form-69-wrapper">
                                                            <div class="info-tittle">
                                                                <h2>Correspondence Details</h2>
                                                            </div>
                                                            <form>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">
                                                                        Correspondence Control<span class="text-danger">*</span>
                                                                    </label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.Label("AIFN/001/2018")
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Correspondence Initial Date<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.Label("01/02/2018")
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Subject<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Subject", required = "required", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Correspondence From<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Correspondence From", required = "required", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Role of the person  <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                                            <option selected="selected">IIC</option>
                                                                            <option>DAAI</option>
                                                                            <option>Team Member</option>
                                                                            <option>External Stakeholder</option>
                                                                            <option>Other</option>
                                                                        </select>
                                                                    </div>

                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Others Role <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        @Html.TextBoxFor(m => m.first_name, new { @placeholder = "Enter Others Role", required = "required", @type = "text", @class = "form-control" })
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Correspondence Type<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                                            <option value="">Request</option>
                                                                            <option value="1">Clarification</option>
                                                                            <option value="2">Response</option>
                                                                            <option value="3" selected="selected">Safety Recommendations</option>
                                                                            <option value="3">Other</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Others Type <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Other Types">
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1"> DAAI Approval Required <span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <select class="form-control" id="exampleFormControlSelect1">
                                                                            <option>Yes</option>
                                                                            <option selected="selected">No</option>
                                                                        </select>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Intented Recipients<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <div class="tag-points form-control">
                                                                            <span>Hafiz <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                            <span>Fayaz <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                            <span>Samer <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                            <span>Salman <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Correspondence Tags<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <div class="tag-points form-control">
                                                                            <span>Accident <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                            <span>Runway <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                            <span>Ethihad Airline <a href="#" class="fa fa-times" aria-hidden="true"></a></span>
                                                                        </div>

                                                                    </div>
                                                                </div>

                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Correspondence Content<span class="text-danger">*</span></label>
                                                                    <div class="col-sm-8 col-form-box">
                                                                        <textarea class="form-control" id="form-69-textarea" rows="3"></textarea>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="x_panel doc-file-tag-wr">
                                                <h4>Attachments</h4>
                                                <div class="attach-tag">
                                                    <ul>
                                                        <li>
                                                            <div class="doc-file-tag">
                                                                <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                                                <a href="#">Delete</a>
                                                            </div>
                                                        </li>
                                                       
                                                    </ul>
                                                </div>
                                                <div class="create-user-table add-attach">
                                                    <div class="form-group">
                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Add Atachements<span class="text-danger">*</span></label>
                                                        <div class="col-sm-8 col-form-box">
                                                            <div class="input-group inver-file-upload">
                                                                <input id="uploadFile" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                <div class="input-group-btn">
                                                                    <div class="fileUpload btn btn-success">
                                                                        <span><i class="fa fa-upload"></i> Upload</span>
                                                                        <input id="uploadBtn" type="file" class="upload">
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="create-bottom-btn">
                                                        @if (ViewBag.pageMode != null)
                                                        {
                                                            if (ViewBag.pageMode == "new")
                                                            {
                                                                <button type="submit" class="btn btn-save" onclick="location.href='@Url.Action("New_SR", "SR", new { mode = "view_corres" })'">Save and Update</button>
                                                            }
                                                            else
                                                            {
                                                                <button type="submit" class="btn btn-cancel" onclick="location.href='@Url.Action("New_SR", "SR", new { mode = "view_corres" })'">Close</button>

                                                            }
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
