﻿
@{
    ViewBag.Title = "SR_View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/js/Common.js"></script>

<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                 
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Safety Recommendations</h2>
                                        </div>
                                        <form>
                                            <div class="scope-details">
                                                <div class="row">
                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                AAI Case ID:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">AIFN/0001/2018</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                UTC Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">27-01-2017 09:45</label>
                                                            </div>
                                                        </div>
                                                     
                                                    </div>

                                                    <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Investigator In-Charge:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">Yusuf Khan</label>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                Local Date & Time of Occurrence:
                                                            </label>
                                                            <div class="col-sm-6 col-form-box">
                                                                <label class="form-values">27-01-2017 09:45</label>
                                                            </div>
                                                        </div>
                                                     
                                                    </div>
                                                </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                                <div class="clearfix"></div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>SR List</h2> @*Safety Recommendations List*@
                                        </div>
                                        <div class="task-scope-wrapp saftey-tape">
                                            <div class="search-field">
                                                <div class="i-search nc">
                                                    <div id="custom-search-input">
                                                        <div class="input-group">
                                                            <input type="text" class="form-control" placeholder="Search" />
                                                            <span class="input-group-btn">
                                                                <button class="btn btn-info btn-lg" type="button">
                                                                    <i class="fa fa-search" aria-hidden="true"></i>
                                                                </button>
                                                            </span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="occ-new">
                                                    <button type="button" class="btn btn-addnew" onclick="location.href='@Url.Action("New_SR", "SR",new { mode="new"})'">
                                                        <i class="fas fa-plus"></i>Add New
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="main-wrapper current-project-wrapper">
                                                <div class="col-md-12 col-sm-12 col-xs-12">
                                                    <div class="row">
                                                        <div class="x_panel-corres">
                                                            <div class="x_content">
                                                                <div class="table-tittle">

                                                                </div>
                                                                <div class="table-responsive">
                                                                    <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                        <!-- need pagination table -->
                                                                        <thead>
                                                                            <tr>
                                                                            
                                                                                <th>SR ID Number</th>
                                                                                <th>Date Created</th>
                                                                                <th>Status</th>


                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            <tr>
                                                                        
                                                                                <td> @Html.ActionLink("SRNA22/2018/11", "New_SR", "SR", routeValues: new { mode = "view" }, htmlAttributes: null)</td>
                                                                                <td>12/06/2018</td>
                                                                                <td>Pending</td>


                                                                            </tr>
                                                                            <tr>
                                                                          
                                                                                <td> @Html.ActionLink("SRNA13/2018/11", "New_SR", "SR", new { mode = "view" }, htmlAttributes: null)</td>
                                                                                <td>14/06/2018</td>
                                                                                <td>Not Approved</td>


                                                                            </tr>
                                                                            <tr>
                                                                              
                                                                                <td> @Html.ActionLink("SRNA08/2018/11", "New_SR", new { mode = "view" }, htmlAttributes: null)</td>
                                                                                <td>12/06/2018</td>
                                                                                <td>Not Approved</td>


                                                                            </tr>
                                                                            <tr>
                                                                           
                                                                                <td> @Html.ActionLink("SRNA05/2018/11", "New_SR", "SR", new { mode = "view" }, htmlAttributes: null)</td>
                                                                                <td>14/06/2018</td>
                                                                                <td>DAAI Approved</td>


                                                                            </tr>
                                                                            <tr>
                                                                             
                                                                                <td> @Html.ActionLink("SRNA02/2018/11", "New_SR", "SR", new { id = 1 }, htmlAttributes: null)</td>
                                                                                <td>19/06/2018</td>
                                                                                <td>DAAI Approved</td>

                                                                            </tr>
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>


                            </div>
                            <!-- sumitted form btns -->
                            <!-- sumitted form btns -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


