﻿@model ISM_Project.Models.SR
@{
    ViewBag.Title = "ViewSR";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main_ism_wrapper">
    <div class="container-fluid">
        <div class="col-md-12">
            <div class="row">
                <div class="main-user-wrapper investigation-scope-wrapper">
                    <div class="main-wrapper">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="row">
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle-remove">
                                        </div>
                                        <div class="x_content form-create-user-table">
                                            <div class="scope-details">
                                                @if (Model != null)
                                                {
                                                    if (Model.Inv != null)
                                                    {
                                                        if (Model.Inv.Count() > 0)
                                                        {
                                                            foreach (var inv in Model.Inv)
                                                            {
                                                                <div class="row">
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Notifier Name:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierName) ? Convert.ToString(inv.NotifierName) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Local Date & Time of Occurrence:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.LocalDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.LocalDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                Notifier Organization:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label(Convert.ToString(!string.IsNullOrEmpty(inv.NotifierOrganization) ? Convert.ToString(inv.NotifierOrganization) : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                                UTC Date & Time of Occurrence:
                                                                            </label>
                                                                            <div class="col-sm-6 col-form-box">
                                                                                @Html.Label((!string.IsNullOrEmpty(Convert.ToString(inv.UTCDateAndTimeOfOccurrence)) ? Convert.ToDateTime(inv.UTCDateAndTimeOfOccurrence).ToString("dd-MMM-yyyy HH:mm") : "N/A"), new { @placeholder = "Name", required = "required", @type = "text", @class = "form-values" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            }
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="x_panel">
                                    <div class="x_content form-create-user-table">
                                        <div class="info-tittle">
                                            <h2>Safety Recommendation</h2>
                                        </div>
                                        @using (Html.BeginForm(null, null, FormMethod.Post, new { @id = "new_SR", enctype = "multipart/form-data" }))
                                        {
                                            foreach (var SRI in Model.SRInfo)
                                            {
                                                <div class="x_content create-user-table">
                                                    @if (SRI.DAAIStatus.ToLower() == "approved and communicated" && SRI.SRCreatedBy == Convert.ToString(Session["FirstName"]))
                                                    {
                                                        <span class="SR_approved"> This SR cannot be edited since it is approved and communicated.</span>
                                                    }
                                                    <div class="row">
                                                        <div class="col-md-6">

                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Type of Safety recommendation:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    @Html.DropDownListFor(m=>m.TypeofsafetyRecommendation, ViewBag.TypeOf_SafetyRecomm as SelectList, new { @class = "form-control", @onchange = "getSRNumberBySRTpe(this)" })
                                                                </div>
                                                            </div>

                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    SR Identification no:<span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    @Html.TextBox("SafetyRecommendationNumber", SRI.SafetyRecommendationNumber, new {@disabled="disabled", @placeholder = "SRXX-XXXX", @id = "SafetyRecommendationNumber", @class = "form-control" })
                                                                    @Html.Hidden("InvestigationFileID", Convert.ToInt32(TempData["InvId"]))
                                                                    @Html.Hidden("SRID", Convert.ToInt32(TempData["SR_ID"]))
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Prepared by:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    @Html.Label("CreatedBy", SRI.SRCreatedBy, new { @class = "form-control" })
                                                                </div>
                                                            </div>
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Assigned To: <span class="text-danger">*</span>
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    @Html.TextBoxFor(m => m.SafetyRecommendationAssignedTo, Model.SafetyRecommendationAssignedTo, new { @id = "SafetyRecommendationAssignedTo", @class = "form-control" })
                                                                </div>
                                                            </div>
                                                            
                                                        </div>
                                                        <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label class="col-sm-6 col-form-label" for="exampleInputEmail1">
                                                                    Date of creation:
                                                                </label>
                                                                <div class="col-sm-6 col-form-box">
                                                                    @Html.Label("SafetyRecommendationDateCreated", Convert.ToDateTime(SRI.SafetyRecommendationDateCreated).ToString("dd-MMM-yyyy"), new { @class = "form-values" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="create-user-table">
                                                            <div class="col-md-12">
                                                                <div class="form-group">
                                                                    <label class="col-sm-12 col-form-label" for="exampleInputPassword1" style="font-size: 18px;margin-top: 15px;">Safety Recommendation Content <span class="text-danger"></span></label>
                                                                    <div class="col-sm-12 no-padding">
                                                                        @Html.Hidden("SR_ID", SRI.InvestigationSafetyRecommendationID)
                                                                        @if (SRI.SRCreatedBy == Convert.ToString(Session["FirstName"]) && SRI.DAAIStatus.ToLower() != "approved and communicated")
                                                                        {
                                                                            @*@Html.TextArea("SafetyRecommendation", SRI.SafetyRecommendation, new { @class = "SR-actions",@disabled=true })*@
                                                                            string SRText = System.Text.RegularExpressions.Regex.Replace(SRI.SafetyRecommendation, @"<[^>]+>|&nbsp;", String.Empty);
                                                                            <div id="SafetyRecommendation" style="margin-top: 10px;margin-bottom: 10px;width: 100%;float: left;padding: 15px;height: 300px;border: 1px solid #c2cad8;overflow-y: auto;">@Html.Raw(SRI.SafetyRecommendation)</div>

                                                                        }
                                                                        else
                                                                        {
                                                                            string SRText = System.Text.RegularExpressions.Regex.Replace(SRI.SafetyRecommendation, @"<[^>]+>|&nbsp;", String.Empty);
                                                                            <div id="SafetyRecommendation" style="margin-top: 10px;width: 100%;float: left;padding: 15px;height: 300px;border: 1px solid #c2cad8;overflow-y: auto;">@Html.Raw(SRI.SafetyRecommendation)</div>
                                                                        }
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    @* @if ((SRI.SRCreatedBy == Convert.ToString(Session["FirstName"])) && SRI.DAAIStatus.ToLower() == "approved and communicated")*@
                                                    @*@if ((SRI.SRCreatedBy == Convert.ToString(Session["FirstName"])) && SRI.DAAIStatus.ToLower() != "approved and communicated")
                                                        {
                                                            <div class="form-group">
                                                                <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attachments <span class="text-danger"></span></label>
                                                                <div class="col-sm-8 padding-right">
                                                                    <div class="form-group attachments-tag">
                                                                        <div class="input-group tag-bottom">
                                                                            <input id="SRuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                            <div class="input-group-btn">
                                                                                <div id="FileUpload" class="fileUpload btn btn-success">
                                                                                    <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                                    <input id="SRuploadBtn_0" type="file" class="upload SRupload">
                                                                                    <input type="hidden" id="SRhdnVal_0" class="hdnfile" />
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                    <label class="cur" id="SR_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                                                </div>
                                                            </div>
                                                        }*@
                                                    @if ((SRI.SRCreatedBy == Convert.ToString(Session["FirstName"])))
                                                    {
                                                        if (Model.SR_Attach != null)
                                                        {
                                                            if (Model.SR_Attach.Count() > 0)
                                                            {
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attached Documents <span class="text-danger"></span></label>
                                                                    <div class="col-sm-8 padding-right">
                                                                        <ul>
                                                                            @foreach (var Files in Model.SR_Attach)
                                                                            {
                                                                                if (!string.IsNullOrEmpty(Files.AttachmentAnonymousUrl))
                                                                                {
                                                                                    <li id="list_@Files.InvestigationSafetyRecommendationAttachmentID">
                                                                                        <a href="@Files.AttachmentAnonymousUrl" id="file_@Files.InvestigationSafetyRecommendationAttachmentID" target="_blank">@Files.AttachmentPublicUrl.ToString().Split('/').Last() </a>
                                                                                        @*@if ((Files.CreatedBy == Convert.ToInt32(Session["UserID"])) && ((SRI.DAAIStatus.ToLower().Trim() == "pending") || (SRI.DAAIStatus.ToLower().Trim() == "approved and communicated")))*@
                                                                                        @*@if ((Files.CreatedBy == Convert.ToInt32(Session["UserID"])) && SRI.DAAIStatus.ToLower() != "approved and communicated")
                                                                                            {
                                                                                                <a href="#" id="attach_@Files.InvestigationSafetyRecommendationAttachmentID" class="remove_SRattachment">Delete</a>
                                                                                            }*@
                                                                                        @*@if ((Files.CreatedBy == Convert.ToInt32(Session["UserID"])))
                                                                                            {
                                                                                                <a href="#" id="attach_@Files.InvestigationSafetyRecommendationAttachmentID" class="remove_SRattachment">Delete</a>
                                                                                            }*@
                                                                                    </li>
                                                                                }
                                                                            }
                                                                        </ul>
                                                                    </div>
                                                                </div>
                                                            }
                                                            else
                                                            {
                                                                @*<div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attached Documents <span class="text-danger"></span></label>
                                                                        <div class="col-sm-8 padding-right">No attachments available</div>
                                                                    </div>*@
                                                            }
                                                        }
                                                        else
                                                        {
                                                            @*<div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attached Documents <span class="text-danger"></span></label>
                                                                    <div class="col-sm-8 padding-right">No attachments available</div>
                                                                </div>*@
                                                        }
                                                        <div>
                                                            @using (Html.BeginForm("UpdateFiles", "SR", FormMethod.Post, new { @id = "frmViewSR", enctype = "multipart/form-data" }))
                                                            {
                                                                <div class="form-group">
                                                                    <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Attachments <span class="text-danger"></span></label>
                                                                    <div class="col-sm-7 padding-right">
                                                                        <div class="form-group attachments-tag">
                                                                            <div class="input-group tag-bottom">
                                                                                <input id="SRuploadFile_0" class="form-control" placeholder="Choose File" disabled="disabled">
                                                                                <div class="input-group-btn">
                                                                                    <div id="FileUpload_0" class="fileUpload btn btn-success">
                                                                                        <span><i class="fa fa-upload" aria-hidden="true"></i>Choose File</span>
                                                                                        <input id="SRuploadBtn_0" type="file" name="SRFiles[]" class="upload SRupload">
                                                                                        <input type="hidden" id="SRhdnVal_0" class="hdnfile" />
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <label class="cur attach-add" id="SR_add_attachment"> Add Attachment <i class="fa fa-plus-square" aria-hidden="true"></i></label>
                                                                    </div>
                                                                </div>

                                                                <div class="create-bottom-btn">
                                                                    @Html.Hidden("SR_NO", SRI.SafetyRecommendationNumber)
                                                                    <button type="button" class="btn btn-save" id="btnupdateSR" onclick="updateSRFiles()">Update SR </button>
                                                                </div>
                                                            }
                                                        </div>
                                                    }
                                                    @Html.Hidden("DateforResponse", null, new { @Value = ViewBag.ResponseSentDays })
                                                    <div class="col-md-12 safety-content">
                                                        <div class="row">
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="scope-details">
                                        @*@if (Convert.ToString(Session["mode"]) != null)
                                            {
                                                if (Model.SRHIST != null)
                                                {
                                                    if (Model.SRHIST.Count() > 0)
                                                    {
                                                        int sno = 0;
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="info-tittle">
                                                                    <h2>Change History</h2>
                                                                </div>
                                                                <div class="row">
                                                                    <div class="col-sm-12 table-top">
                                                                        <div class="table-responsive">
                                                                            <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                                <thead>
                                                                                    <tr>
                                                                                        <th>#</th>
                                                                                        <th>Date Updated</th>
                                                                                        <th>Updated By</th>
                                                                                        <th>Reason</th>
                                                                                    </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    @foreach (var SRs in Model.SRHIST)
                                                                                    {
                                                                                        if (SRs.DateChanged != null)
                                                                                        {
                                                                                            sno++;
                                                                                            <tr>
                                                                                                <td> @sno </td>
                                                                                                <td> @Convert.ToDateTime(SRs.DateChanged).ToString("dd/MM/yyyy") </td>
                                                                                                <td> @SRs.SRUpdatedBy </td>
                                                                                                <td> @SRs.ReasonForUpdate </td>
                                                                                            </tr>
                                                                                        }
                                                                                    }
                                                                                </tbody>
                                                                            </table>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    }
                                                }
                                            }*@

                                        @if (Model.SRCOMMU != null)
                                        {
                                            if (Model.SRCOMMU.Count() > 0)
                                            {
                                                int sno = 0;
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="info-tittle">
                                                            <h2>Communication History</h2>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 table-top">
                                                                <div class="table-responsive">
                                                                    <table id="datatable" class="table table-responsive table-bordered table-hover correspondance-table">
                                                                        <thead>
                                                                            <tr>
                                                                                <th>#</th>
                                                                                <th>Response From</th>
                                                                                <th>Response Date</th>
                                                                                <th>Status</th>
                                                                                <th>Action</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            @foreach (var SRs in Model.SRCOMMU)
                                                                            {
                                                                                if (SRs.RESPONSEDDATE != null)
                                                                                {
                                                                                    sno++;
                                                                                    <tr>
                                                                                        <td> @sno </td>
                                                                                        <td> @SRs.ResponsedUser </td>
                                                                                        <td> @Convert.ToDateTime(SRs.RESPONSEDDATE).ToString("dd/MM/yyyy") </td>
                                                                                        <td>
                                                                                            @SRs.Status
                                                                                        </td>
                                                                                        <td>
                                                                                            <a id="viewSRResponse_@SRs.SRResponseID" style="cursor:pointer" class="showRes dashboardlink" name="HistoryID" value="@SRs.SRHistoryID" data-history="@SRs.SRHistoryID">View</a>
                                                                                            @*<button id="viewSRResponse_@SRs.SRResponseID" type="submit" class="showRes" name="HistoryID" value="@SRs.SRHistoryID" data-history="@SRs.SRHistoryID">View</button>*@
                                                                                        </td>
                                                                                    </tr>
                                                                                }
                                                                            }
                                                                        </tbody>
                                                                    </table>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            }
                                        }
                                    </div>
                                    <div class="col-md-12 col-sm-12 col-xs-12" id="AddSRCommun" style="display:none">
                                        <div class="row">
                                            @using (Html.BeginForm("UpdateSR", "SR", FormMethod.Post, new { @id = "Existing_SR" }))
                                            {
                                                <div class="tab-content ">
                                                    <div class="tab-pane active">
                                                        <div class="x_panel">
                                                            <div class="x_content create-user-table form-69-wrapper">
                                                                <div class="info-tittle">
                                                                    <h2>IIC Action</h2>
                                                                </div>
                                                                <div class="x_content create-user-table mtop15">
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1">Stakeholder Response</label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            @Html.TextArea("StakeholderResponse", null, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                                            @Html.Hidden("SRHistoryID")
                                                                            @Html.Hidden("SRResponseID")
                                                                            @Html.Hidden("SRStatus")
                                                                            @Html.Hidden("SRID", Model.SRID)
                                                                            @Html.Hidden("SRCommandAction")

                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="stk-attach">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputPassword1">Stakeholder Attachments <span class="text-danger"></span></label>
                                                                        <div class="col-sm-8 padding-right">
                                                                            <ul id="ulStkAttach">
                                                                                @*@foreach (var Files in Model.SR_Attach)
                                                                                    {
                                                                                        if (!string.IsNullOrEmpty(Files.AttachmentAnonymousUrl))
                                                                                        {
                                                                                            <li id="list_@Files.InvestigationSafetyRecommendationAttachmentID">
                                                                                                <a href="@Files.AttachmentAnonymousUrl" id="file_@Files.InvestigationSafetyRecommendationAttachmentID" target="_blank">@Files.AttachmentPublicUrl.ToString().Split('/').Last() </a>
                                                                                                @if ((Files.CreatedBy == Convert.ToInt32(Session["UserID"])))
                                                                                                {
                                                                                                    <a href="#" id="attach_@Files.InvestigationSafetyRecommendationAttachmentID" class="remove_SRattachment">Delete</a>
                                                                                                }
                                                                                            </li>
                                                                                        }
                                                                                    }*@
                                                                            </ul>
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Comments  <span id="spanIICcomments" class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">

                                                                            @*@Html.TextAreaFor(a => a.IICCommentsforSHResponse, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit;display:none" })

                                                                                @Html.TextArea("IICCommentsforSHResponseLbl", null, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit;display:none", @disabled = true })*@

                                                                            @Html.TextArea("IICCommentsforSHResponse", null, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> Implementation Status</label>
                                                                        <div class="col-sm-8 col-form-box">

                                                                            @Html.DropDownListFor(a => a.IICImplementaionStatus, ViewBag.ImpStatus as SelectList, "Select", new { @class = "form-control", @type = "text" })

                                                                            @*@Html.Label("SRIMPLEMENTATIONSTATUSLbl", new { @class = "form-control" })*@
                                                                            @Html.Label("SRIMPLEMENTATIONSTATUSLbl", new { @class = "form-values", @name = "SRIMPLEMENTATIONSTATUSLbl", @id = "SRIMPLEMENTATIONSTATUSLbl" })
                                                                            @Html.Hidden("SRIMPLEMENTATIONSTATUS")
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="divSRCommitteeComments" style="display:none">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> SR Committee Comments </label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            @Html.TextArea("SRCommitteeComments", null, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="divSRCommitteeClosureStatus" style="display:none">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> SR Committee Closure Status </label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            @Html.Label("SRCommitteeClosureStatus", new { @class = "form-values", @name = "SRCommitteeClosureStatus", @id = "SRCommitteeClosureStatus" })
                                                                        </div>
                                                                    </div>
                                                                    <div class="form-group" id="divIICClosureComments" style="display:none">
                                                                        <label class="col-sm-4 col-form-label" for="exampleInputEmail1"> IIC Closure Comments <span class="text-danger">*</span></label>
                                                                        <div class="col-sm-8 col-form-box">
                                                                            @Html.TextAreaFor(m => m.IICClosureComments, new { @class = "form-control form-textarea", @rows = 10, @style = "height:inherit" })
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="create-bottom-btn" id="divbtnIICcommentsForSH">

                                                    <button type="button" class="btn btn-save" name="Command" value="SenttoCommittee" id="btnsaveIICActionforSH">Send to SR Committee</button>

                                                    <button type="button" class="btn btn-cancel" name="Command" value="Rejected" id="btnRejectSRResponse">Reject</button>

                                                </div>
                                                <div class="create-bottom-btn" id="divbtnIICcommentsForSHNoResponse">
                                                    <input type="hidden" id="CorresRecipientID" name="CorresRecipientID" value="@ViewBag.CorresRecID" />
                                                    <button type="button" class="btn btn-save" name="Command" value="SendtoCommitteonNoRes" id="btnSendtoSRCOnNoResponse">Send to SR Committee</button>
                                                </div>
                                                <div class="create-bottom-btn" id="divbtnIICcommentsForSRCommittee">
                                                    <button type="button" class="btn btn-save" name="Command" value="Closed" id="btnsaveIICActionforSRC">Save</button>
                                                </div>
                                            }
                                        </div>
                                    </div>
                                    @if (ViewBag.ResponseSentDays > 90)
                                    {
                                        <div class="create-bottom-btn" id="divbtnSHNoResponse">
                                            <button type="button" class="btn btn-cancel" data-id="@Model.SRID" data-toggle="tooltip" title="Need to resend the SR to Stakeholder" id="btnResponseNotReceived">Send to SR Committee</button>
                                        </div>
                                    }
                                    @*<div class="create-bottom-btn">
                                            @foreach (var SRs in Model.SRInfo)
                                            {
                                                if (Convert.ToInt32(Session["roleid"]) == 4)
                                                {
                                                    if (SRs.DAAIStatus.ToLower() != "approved and communicated")
                                                    {
                                                        <button class="btn btn-save" id="IICUpdate" onclick="validateSR()">Save and Update</button>
                                                    }
                                                }
                                                else
                                                {
                                                    if (SRs.DAAIStatus.ToLower() == "pending")
                                                    {
                                                        <button type="button" class="btn btn-save" id="btnSaveSR" onclick="saveNewSR()">Save and Update</button>
                                                    }
                                                }
                                            }
                                        </div>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (Convert.ToInt32(Session["roleid"]) == 4 || Convert.ToInt32(Session["roleid"]) == 7)
    {
        <div id="incharge-popup" class="modal fade incharge-popup" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
            <div class="modal-dialog" style="width:50%;margin: 0 auto; position: initial; ">
                @using (Html.BeginForm("ViewSR", "SR", FormMethod.Post))
                {
                    @Html.Hidden("SR_ID", Convert.ToInt32(TempData["SR_ID"]))
                    @Html.Hidden("SafetyRecommendation")
                    @Html.Hidden("InvestigationFileID", Convert.ToInt32(TempData["InvId"]))
                    <div class="modal-content">
                        <div class="modal-header">
                            <div class="modal-title">
                                <h2>Safety Recommendation Update</h2>
                            </div>
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <div class="incharge-wrapp">
                                @if (Model.SRInfo != null)
                                {
                                    if (Model.SRInfo.Count() > 0)
                                    {
                                        int i = 0;
                                        foreach (var SRI in Model.SRInfo)
                                        {
                                            if (i < 1)
                                            {
                                                i++;
                                                <div class="row">
                                                    <div class="col-md-12"><h4>SR Identification No:@SRI.SafetyRecommendationNumber</h4></div>
                                                    @Html.Hidden("DAAIStatus", SRI.DAAIStatus)
                                                    @Html.Hidden("SafetyRecommendationNumber", SRI.SafetyRecommendationNumber)
                                                </div>
                                            }
                                        }
                                    }
                                }
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-3"><label>Date Updated</label></div>
                                        <div class="col-md-9">
                                            <div class="certi-details">
                                                <div class="col-form-box">
                                                    <div class='input-group date_only_nofuture'>
                                                        <input type="text" id="DateChanged" name="DateChanged" class="form-control" required="required" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        <div class="col-md-3"><label>Reason for Update</label></div>
                                        <div class="col-md-9">
                                            <div class="certi-details">
                                                <textarea rows="6" name="ReasonForUpdate" id="ReasonForUpdate" class="form-control form-textarea" required="required"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-save" onclick="saveNewSR()">Save</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    }
</div>
<script src="~/Scripts/jquery.min.js"></script>
<script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
<script>
    $(document).ready(function () {
        tinymce.init({
            selector: '.SR-actions',
            //selector: '.form-textarea',
            body_class: 'my_class',
            //content_css: 'style.css',
            plugins: [
                "code", "image", "link"
            ], extended_valid_elements: "ol[start|type]"
        });
    });
</script>



